// Footer
footer.footer
    .container
        .footer__data
            h3.footer__title Quick links
            ul.footer__list
                li.footer__item
                    a(href='javascript:void(0)' title='Networks in the Global World 2016').footer__link Networks in the Global World 2016
                li.footer__item
                    a(href='speakers.html' title='Keynotes & Invited talks').footer__link Keynotes & Invited talks
                li.footer__item
                    a(href='javascript:void(0)' title='Programme').footer__link Programme
                li.footer__item
                    a(href='javascript:void(0)' title='Abstract submission').footer__link Abstract submission
                li.footer__item
                    a(href='javascript:void(0)' title='Registration').footer__link Registration
                li.footer__item
                    a(href='javascript:void(0)' title='Key dates').footer__link Key dates

        .footer__data
            ul.footer__list.footer__list--second
                li.footer__item
                    a(href='javascript:void(0)' title='Venue & Accommodation').footer__link Venue & Accommodation
                li.footer__item
                    a(href='javascript:void(0)' title='Practical Information').footer__link Practical Information
                li.footer__item
                    a(href='javascript:void(0)' title='Photo & Video ').footer__link Photo & Video
                li.footer__item
                    a(href='contacts.html' title='Contacts').footer__link Contacts
                li.footer__item
                    a(href='javascript:void(0)' title='NetGloW’14').footer__link NetGloW’14
                li.footer__item
                    a(href='javascript:void(0)' title='NetGloW’12').footer__link NetGloW’12

        .footer__data.footer__data--contacts
            h3.footer__title Contacts
            p.footer__contacts.footer__contacts--address.
                    Centre for German and European Studies <br>
                    Universitetskaya Nab., 7/9 (Mendeleev-Centre) <br>
                    199034, St. Petersburg, Russia
            p.footer__contacts.footer__contacts--phone Tel./Fax: +7 812 324 08 85
            p.footer__contacts.footer__contacts--mail E-mail: netglow@spbu.ru

.copyright
    .container.container--hor-center
        a(href='javascript:void(0)' title='NetGloW in Facebook' target='_blank').icon.icon--fb
        a(href='javascript:void(0)' title='NetGloW in Vkontakte' target='_blank').icon.icon--vk
        p.copyright__text Copyright &copy; 2016

.scripts

    // Set JS assets
    script(src="js/vendor/vendor-bundle.min.js" defer)
    script(src="js/custom/custom-bundle.min.js" defer)
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD25UDWOF4MDXi8vOQ4-jWMz-L49e_Amg4&callback=initMap" defer)

    //include _googleAnalytics
    //include _yandexMetrika
