// Top slider
.top-slider
    .js-top-slider
        img(data-lazy='img/1.jpg' src="img/4.jpg" alt='' ).top-slider__slide
        img(data-lazy='img/2.jpg' src="img/2.jpg" alt='').top-slider__slide
        img(data-lazy='img/3.jpg' src="img/3.jpg" alt='').top-slider__slide
        img(data-lazy='img/3.jpg' src="img/1.jpg" alt='' ).top-slider__slide
        img(data-lazy='img/5.jpg' src="img/5.jpg" alt='').top-slider__slide
        img(data-lazy='img/6.jpg' src="img/6.jpg" alt='').top-slider__slide
    a(href='javascript:void(0)' title='Submit abstract').top-slider__btn Submit abstract
    a(href='javascript:void(0)' title='Down').top-slider__btn-down