// Top slider
.top-slider
    .js-top-slider
        img(data-lazy='img/Depositphotos_72965081_l-2015.jpg' alt='' ).top-slider__slide
        img(data-lazy='img/shutterstock_11145130.jpg' alt='').top-slider__slide
        img(data-lazy='img/shutterstock_160388702_ispr.jpg' alt='').top-slider__slide
        img(data-lazy='img/shutterstock_299521907.jpg' alt='' ).top-slider__slide
        img(data-lazy='img/shutterstock_301489223.jpg' alt='').top-slider__slide
        img(data-lazy='img/shutterstock_304722653.jpg' alt='').top-slider__slide
    a(href='javascript:void(0)' title='Submit abstract').top-slider__btn Submit abstract
    a(href='javascript:void(0)' title='Down').top-slider__btn-down