// Lead block
.container
    article.lead-block
        h2.h2-title About
        p.lead-block__text.
            The 2016 NetGloW conference will discuss relations between diverse networks. At the conceptual level it offers a discussion on relations between networks of different types – like inter-personal networks, semantic networks, organizational networks, material objects networks. One can pose questions about how those networks influence each other within and across different spheres, and how these processes unfold in time. At methodological level the approaches, tools and techniques of analysis of relations between networks are to be considered. Those may include both qualitative and quantitative, both static and dynamic ones, both compared separately or as part of multilevel, multiple or other combinations. At the level of applications the conference is to discuss how network structures and their dynamics can be compared across cultures, societies, states, economies, and cities, - with a primary focus on European societies. The participants will be invited to discuss if and how diverse structures can co-exist and co-evolve.
        a(href='javascript:void(0)' title='Learn more about NetGloW').lead-block__btn Learn more
