// Logos of organizers and partners
section.logos
    .container
        h2.h2-title Organizers
        .organizers
            a(href='http://www.zdes.spbu.ru/en' target='_blank').company-logo
                img(data-original='img/org-logo.png' alt='CGES' title='CGES').company-logo__img.lazyload

            a(href='http://www.uni-bielefeld.de/(en)/' target='_blank').company-logo
                img(data-original='img/Univ-Bielefeld-Logo-Web.jpg' alt='University of Bielefeld' title='University of Bielefeld').company-logo__img.lazyload

            a(href='http://eng.spbu.ru/' target='_blank').company-logo
                img(data-original='img/spbu-logo.png' alt='St.Petersburg State University' title='St.Petersburg State University').company-logo__img.lazyload

            a(href='http://soc.spbu.ru/nauka/council_of_young_scientists/' target='_blank').company-logo
                img(data-original='img/council.jpg' alt='Council of young scientists' title='Council of young scientists').company-logo__img.lazyload

            a(href='http://www.isa-sociology.org/junior_sociologists_network.htm' target='_blank').company-logo
                img(data-original='img/junior-socnetwork.jpg' alt='Junior sociologists network' title='Junior sociologists network').company-logo__img.lazyload

            //a(href='javascript:void(0)' target='_blank' title='Company name').company-logo
            //    p.company-logo__name.
            //        CGES
            //        Center For German
            //        and European Studies



        //h2.h2-title Partners
        //.partners
        //    a(href='javascript:void(0)' target='_blank').company-logo
        //        img(data-original='img/org-logo.png' alt='Company name' title='Company name').company-logo__img.lazyload
        //    a(href='javascript:void(0)' target='_blank' title='Company name').company-logo
        //        p.company-logo__name.
        //            CGES
        //            Center For German
        //            and European Studies
        //    - for (i=0; i<5; i++)
        //        a(href='javascript:void(0)' target='_blank').company-logo
        //            img(data-original='img/org-logo.png' alt='Company name' title='Company name').company-logo__img.lazyload
        //    - for (i=0; i<5; i++)
        //        a(href='javascript:void(0)' target='_blank' title='Company name').company-logo
        //            p.company-logo__name.
        //                CGES
        //                Center For German
        //                and European Studies