// Logos of organizers and partners
section.logos
    .container
        h2.h2-title Organizers
        .organizers
            a(href='javascript:void(0)' target='_blank').company-logo
                img(data-original='img/org-logo.png' alt='Company name' title='Company name').company-logo__img.lazyload
            a(href='javascript:void(0)' target='_blank' title='Company name').company-logo
                p.company-logo__name.
                    CGES
                    Center For German
                    and European Studies
            - for (i=0; i<5; i++)
                a(href='javascript:void(0)' target='_blank').company-logo
                    img(data-original='img/org-logo.png' alt='Company name' title='Company name').company-logo__img.lazyload
            - for (i=0; i<5; i++)
                a(href='javascript:void(0)' target='_blank' title='Company name').company-logo
                    p.company-logo__name.
                        CGES
                        Center For German
                        and European Studies

        h2.h2-title Partners
        .partners
            a(href='javascript:void(0)' target='_blank').company-logo
                img(data-original='img/org-logo.png' alt='Company name' title='Company name').company-logo__img.lazyload
            a(href='javascript:void(0)' target='_blank' title='Company name').company-logo
                p.company-logo__name.
                    CGES
                    Center For German
                    and European Studies
            - for (i=0; i<5; i++)
                a(href='javascript:void(0)' target='_blank').company-logo
                    img(data-original='img/org-logo.png' alt='Company name' title='Company name').company-logo__img.lazyload
            - for (i=0; i<5; i++)
                a(href='javascript:void(0)' target='_blank' title='Company name').company-logo
                    p.company-logo__name.
                        CGES
                        Center For German
                        and European Studies