.container
    .programm-slider.js-programmpage-slider
        - for (n=0; n < 3; n++)
            .programm-slider__day
                h3.programm-slider__date 2.07.2016
                .programm-slider__left-column
                    - for (i=0; i<5; i++)
                        .programm-slider__abstract
                            .programm-slider__time 9:00
                            .programm-slider__content
                                h4.programm-slider__content-title Participants registration
                                p.programm-slider__content-text Parallel workshops
                                p.programm-slider__content-text.
                                        Pajek for Beginners: From Data to Measures and Visualization
                                        Instructor: Wouter de Nooy room 80, 4th floor
                                p.programm-slider__content-text.
                                        The Basics of Social Network Analysis with UCINet
                                        Instructor: Tetiana Kostiuchenko room 78, 4th floor
                                p.programm-slider__content-text.
                                        Analyzing Social Media Networks with NodeXL
                                        Instructor: Marc Smith room 57, 3rd floor
                                p.programm-slider__content-text.
                                        Exponential Random Graph (p*) Modeling and Network Dynamics
                                        Instructor: Benjamin Lind room 67, 3rd floor
                .programm-slider__right-column
                    - for (i=0; i<5; i++)
                        .programm-slider__abstract
                            .programm-slider__time 9:00
                            .programm-slider__content
                                h4.programm-slider__content-title Participants registration
                                p.programm-slider__content-text Parallel workshops
                                p.programm-slider__content-text.
                                    Pajek for Beginners: From Data to Measures and Visualization
                                    Instructor: Wouter de Nooy room 80, 4th floor
                                p.programm-slider__content-text.
                                    The Basics of Social Network Analysis with UCINet
                                    Instructor: Tetiana Kostiuchenko room 78, 4th floor
                                p.programm-slider__content-text.
                                    Analyzing Social Media Networks with NodeXL
                                    Instructor: Marc Smith room 57, 3rd floor
                                p.programm-slider__content-text.
                                    Exponential Random Graph (p*) Modeling and Network Dynamics
                                    Instructor: Benjamin Lind room 67, 3rd floor