// Speakers
include ../mixins/speaker
section.speakers
    .container.container--column
        h2.h2-title Keynotes & Invited talks
        h3.h3-title Keynote speakers

        .speakers__slider.js-speakers-slider
            article.speaker
                img(data-lazy='img/Michael-Batty.png' alt='Michael Batty' title='Michael Batty').speaker__photo.lazyload
                h3.speaker__name Michael Batty
                p.speaker__seminar Seminar
                a(href='speakers.html' title='Learn more about speakers').speaker__btn Learn more
            article.speaker
                img(data-lazy='img/Peter-Bearman.png' alt='Peter Bearman' title='Peter Bearman').speaker__photo.lazyload
                h3.speaker__name Peter Bearman
                p.speaker__seminar Seminar
                a(href='speakers.html' title='Learn more about speakers').speaker__btn Learn more
            article.speaker
                img(data-lazy='img/Ronald-Breiger.jpg' alt='Ronald Breiger' title='Ronald Breiger').speaker__photo.lazyload
                h3.speaker__name Ronald Breiger
                p.speaker__seminar Seminar
                a(href='speakers.html' title='Learn more about speakers').speaker__btn Learn more
            article.speaker
                img(data-lazy='img/Han-Woo-Park.jpg' alt='Han Woo Park' title='Han Woo Park').speaker__photo.lazyload
                h3.speaker__name Han Woo Park
                p.speaker__seminar Seminar
                a(href='speakers.html' title='Learn more about speakers').speaker__btn Learn more