// Abstract submit
section.submit
    .container.container--hor-center
        h2.h2-title.h2-title--white.h2-title--wo-line Abstract submission
        a(href='javascript:void(0)' title='Abstract submit').submit__btn Submit