mixin programm-slide
    .container
        .programm-slider
            .programm-slider__controls
                .programm-slider__step-left
                    time 1.07.2016
                .programm-slider__step-right
                    time 1.07.2016
            .programm-slider__day
                h3.programm-slider__date
                .programm-slider__left-column
                    .programm-slider__abstract
                        .programm-slider__time
                        .programm-slider__content
                            h4.programm-slider__content-title Participants registration
                            p.programm-slider__content-text Parallel workshops
                            p.programm-slider__content-text.
                                Pajek for Beginners: From Data to Measures and Visualization
                                Instructor: Wouter de Nooy room 80, 4th floor
                            p.programm-slider__content-text.
                                The Basics of Social Network Analysis with UCINet
                                Instructor: Tetiana Kostiuchenko room 78, 4th floor
                            p.programm-slider__content-text.
                                Analyzing Social Media Networks with NodeXL
                                Instructor: Marc Smith room 57, 3rd floor
                            p.programm-slider__content-text.
                                Exponential Random Graph (p*) Modeling and Network Dynamics
                                Instructor: Benjamin Lind room 67, 3rd floor
                .programm-slider__right-column