// speaker jade mixin for speakers slider
mixin speaker
    article.speaker
        img(data-lazy='img/speaker-photo.png' alt='Speaker Name' title='Speaker Name').speaker__photo.lazyload
        h3.speaker__name Name speaker
        p.speaker__seminar Seminar
        a(href='speakers.html' title='Learn more about speakers').speaker__btn Learn more