// speaker jade mixin for speakes block on page
mixin speaker-page
    article.speaker-block
        .speaker-block__left
            img(data-original='img/speaker-block-photo.png' alt='Jana Deisener' title='Jana Deisener').speaker-block__photo.lazyload
            .speaker-block__icons
                i.speaker-block__icon.speaker-block__icon--doc
                i.speaker-block__icon.speaker-block__icon--camera
        .speaker-block__right
            h3.speaker-block__name Jana Deisener
            h4.speaker-block__name University of Illinois at Urbana-Champaign, USA
            p.speaker-block__text.
                Jana Diesner is an Assistant Professor at the iSchool (a.k.a. Graduate School of Library and Information Science) at the University of Illinois at Urbana-Champaign. Jana conducts research at the nexus of network science, natural language processing and machine learning. With her work, she aims to advance the understanding and computational analysis of the interplay andco-evolution of information and socio-technical networks. She develops and analyzes methods and technologies for extracting information about networksfrom text data and considering the substance of information for network analysis. In her empirical work, she studies networks from the business, science and geopolitical domain. She is particularly interested in covert information and covert networks. Jana earned her PhD from Carnegie Mellon University, School of Computer Science. She has taught the “Words to Networks” workshop over 20 times at various institutions, and also teaches courses on Social Computing, Network Analysis and Digital Humanities.



