/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sprite-arrow-name: 'sprite__arrow';
$sprite-arrow-x: 31px;
$sprite-arrow-y: 49px;
$sprite-arrow-offset-x: -31px;
$sprite-arrow-offset-y: -49px;
$sprite-arrow-width: 39px;
$sprite-arrow-height: 23px;
$sprite-arrow-total-width: 139px;
$sprite-arrow-total-height: 123px;
$sprite-arrow-image: '../img/sprite/png-sprite.png';
$sprite-arrow: (31px, 49px, -31px, -49px, 39px, 23px, 139px, 123px, '../img/sprite/png-sprite.png', 'sprite__arrow', );
$sprite-btn-arrow-active-name: 'sprite__btn-arrow--active';
$sprite-btn-arrow-active-x: 121px;
$sprite-btn-arrow-active-y: 0px;
$sprite-btn-arrow-active-offset-x: -121px;
$sprite-btn-arrow-active-offset-y: 0px;
$sprite-btn-arrow-active-width: 18px;
$sprite-btn-arrow-active-height: 18px;
$sprite-btn-arrow-active-total-width: 139px;
$sprite-btn-arrow-active-total-height: 123px;
$sprite-btn-arrow-active-image: '../img/sprite/png-sprite.png';
$sprite-btn-arrow-active: (121px, 0px, -121px, 0px, 18px, 18px, 139px, 123px, '../img/sprite/png-sprite.png', 'sprite__btn-arrow--active', );
$sprite-btn-arrow-hover-name: 'sprite__btn-arrow--hover';
$sprite-btn-arrow-hover-x: 121px;
$sprite-btn-arrow-hover-y: 38px;
$sprite-btn-arrow-hover-offset-x: -121px;
$sprite-btn-arrow-hover-offset-y: -38px;
$sprite-btn-arrow-hover-width: 18px;
$sprite-btn-arrow-hover-height: 18px;
$sprite-btn-arrow-hover-total-width: 139px;
$sprite-btn-arrow-hover-total-height: 123px;
$sprite-btn-arrow-hover-image: '../img/sprite/png-sprite.png';
$sprite-btn-arrow-hover: (121px, 38px, -121px, -38px, 18px, 18px, 139px, 123px, '../img/sprite/png-sprite.png', 'sprite__btn-arrow--hover', );
$sprite-btn-arrow-name: 'sprite__btn-arrow';
$sprite-btn-arrow-x: 121px;
$sprite-btn-arrow-y: 19px;
$sprite-btn-arrow-offset-x: -121px;
$sprite-btn-arrow-offset-y: -19px;
$sprite-btn-arrow-width: 18px;
$sprite-btn-arrow-height: 18px;
$sprite-btn-arrow-total-width: 139px;
$sprite-btn-arrow-total-height: 123px;
$sprite-btn-arrow-image: '../img/sprite/png-sprite.png';
$sprite-btn-arrow: (121px, 19px, -121px, -19px, 18px, 18px, 139px, 123px, '../img/sprite/png-sprite.png', 'sprite__btn-arrow', );
$sprite-doc-icon-click-name: 'sprite__doc_icon_click';
$sprite-doc-icon-click-x: 98px;
$sprite-doc-icon-click-y: 37px;
$sprite-doc-icon-click-offset-x: -98px;
$sprite-doc-icon-click-offset-y: -37px;
$sprite-doc-icon-click-width: 19px;
$sprite-doc-icon-click-height: 21px;
$sprite-doc-icon-click-total-width: 139px;
$sprite-doc-icon-click-total-height: 123px;
$sprite-doc-icon-click-image: '../img/sprite/png-sprite.png';
$sprite-doc-icon-click: (98px, 37px, -98px, -37px, 19px, 21px, 139px, 123px, '../img/sprite/png-sprite.png', 'sprite__doc_icon_click', );
$sprite-doc-icon-hover-name: 'sprite__doc_icon_hover';
$sprite-doc-icon-hover-x: 98px;
$sprite-doc-icon-hover-y: 81px;
$sprite-doc-icon-hover-offset-x: -98px;
$sprite-doc-icon-hover-offset-y: -81px;
$sprite-doc-icon-hover-width: 19px;
$sprite-doc-icon-hover-height: 21px;
$sprite-doc-icon-hover-total-width: 139px;
$sprite-doc-icon-hover-total-height: 123px;
$sprite-doc-icon-hover-image: '../img/sprite/png-sprite.png';
$sprite-doc-icon-hover: (98px, 81px, -98px, -81px, 19px, 21px, 139px, 123px, '../img/sprite/png-sprite.png', 'sprite__doc_icon_hover', );
$sprite-doc-icon-norm-name: 'sprite__doc_icon_norm';
$sprite-doc-icon-norm-x: 98px;
$sprite-doc-icon-norm-y: 59px;
$sprite-doc-icon-norm-offset-x: -98px;
$sprite-doc-icon-norm-offset-y: -59px;
$sprite-doc-icon-norm-width: 19px;
$sprite-doc-icon-norm-height: 21px;
$sprite-doc-icon-norm-total-width: 139px;
$sprite-doc-icon-norm-total-height: 123px;
$sprite-doc-icon-norm-image: '../img/sprite/png-sprite.png';
$sprite-doc-icon-norm: (98px, 59px, -98px, -59px, 19px, 21px, 139px, 123px, '../img/sprite/png-sprite.png', 'sprite__doc_icon_norm', );
$sprite-euro-name: 'sprite__euro';
$sprite-euro-x: 121px;
$sprite-euro-y: 57px;
$sprite-euro-offset-x: -121px;
$sprite-euro-offset-y: -57px;
$sprite-euro-width: 17px;
$sprite-euro-height: 17px;
$sprite-euro-total-width: 139px;
$sprite-euro-total-height: 123px;
$sprite-euro-image: '../img/sprite/png-sprite.png';
$sprite-euro: (121px, 57px, -121px, -57px, 17px, 17px, 139px, 123px, '../img/sprite/png-sprite.png', 'sprite__euro', );
$sprite-fb-name: 'sprite__fb';
$sprite-fb-x: 49px;
$sprite-fb-y: 0px;
$sprite-fb-offset-x: -49px;
$sprite-fb-offset-y: 0px;
$sprite-fb-width: 48px;
$sprite-fb-height: 48px;
$sprite-fb-total-width: 139px;
$sprite-fb-total-height: 123px;
$sprite-fb-image: '../img/sprite/png-sprite.png';
$sprite-fb: (49px, 0px, -49px, 0px, 48px, 48px, 139px, 123px, '../img/sprite/png-sprite.png', 'sprite__fb', );
$sprite-footer-arrow-name: 'sprite__footer-arrow';
$sprite-footer-arrow-x: 87px;
$sprite-footer-arrow-y: 49px;
$sprite-footer-arrow-offset-x: -87px;
$sprite-footer-arrow-offset-y: -49px;
$sprite-footer-arrow-width: 5px;
$sprite-footer-arrow-height: 9px;
$sprite-footer-arrow-total-width: 139px;
$sprite-footer-arrow-total-height: 123px;
$sprite-footer-arrow-image: '../img/sprite/png-sprite.png';
$sprite-footer-arrow: (87px, 49px, -87px, -49px, 5px, 9px, 139px, 123px, '../img/sprite/png-sprite.png', 'sprite__footer-arrow', );
$sprite-mail-name: 'sprite__mail';
$sprite-mail-x: 121px;
$sprite-mail-y: 92px;
$sprite-mail-offset-x: -121px;
$sprite-mail-offset-y: -92px;
$sprite-mail-width: 18px;
$sprite-mail-height: 12px;
$sprite-mail-total-width: 139px;
$sprite-mail-total-height: 123px;
$sprite-mail-image: '../img/sprite/png-sprite.png';
$sprite-mail: (121px, 92px, -121px, -92px, 18px, 12px, 139px, 123px, '../img/sprite/png-sprite.png', 'sprite__mail', );
$sprite-map-marker-small-name: 'sprite__map_marker-small';
$sprite-map-marker-small-x: 71px;
$sprite-map-marker-small-y: 49px;
$sprite-map-marker-small-offset-x: -71px;
$sprite-map-marker-small-offset-y: -49px;
$sprite-map-marker-small-width: 15px;
$sprite-map-marker-small-height: 23px;
$sprite-map-marker-small-total-width: 139px;
$sprite-map-marker-small-total-height: 123px;
$sprite-map-marker-small-image: '../img/sprite/png-sprite.png';
$sprite-map-marker-small: (71px, 49px, -71px, -49px, 15px, 23px, 139px, 123px, '../img/sprite/png-sprite.png', 'sprite__map_marker-small', );
$sprite-phone-name: 'sprite__phone';
$sprite-phone-x: 31px;
$sprite-phone-y: 73px;
$sprite-phone-offset-x: -31px;
$sprite-phone-offset-y: -73px;
$sprite-phone-width: 19px;
$sprite-phone-height: 18px;
$sprite-phone-total-width: 139px;
$sprite-phone-total-height: 123px;
$sprite-phone-image: '../img/sprite/png-sprite.png';
$sprite-phone: (31px, 73px, -31px, -73px, 19px, 18px, 139px, 123px, '../img/sprite/png-sprite.png', 'sprite__phone', );
$sprite-photo-icon-hover-name: 'sprite__photo_icon_hover';
$sprite-photo-icon-hover-x: 121px;
$sprite-photo-icon-hover-y: 75px;
$sprite-photo-icon-hover-offset-x: -121px;
$sprite-photo-icon-hover-offset-y: -75px;
$sprite-photo-icon-hover-width: 17px;
$sprite-photo-icon-hover-height: 16px;
$sprite-photo-icon-hover-total-width: 139px;
$sprite-photo-icon-hover-total-height: 123px;
$sprite-photo-icon-hover-image: '../img/sprite/png-sprite.png';
$sprite-photo-icon-hover: (121px, 75px, -121px, -75px, 17px, 16px, 139px, 123px, '../img/sprite/png-sprite.png', 'sprite__photo_icon_hover', );
$sprite-photo-icon-norm-name: 'sprite__photo_icon_norm';
$sprite-photo-icon-norm-x: 0px;
$sprite-photo-icon-norm-y: 107px;
$sprite-photo-icon-norm-offset-x: 0px;
$sprite-photo-icon-norm-offset-y: -107px;
$sprite-photo-icon-norm-width: 17px;
$sprite-photo-icon-norm-height: 16px;
$sprite-photo-icon-norm-total-width: 139px;
$sprite-photo-icon-norm-total-height: 123px;
$sprite-photo-icon-norm-image: '../img/sprite/png-sprite.png';
$sprite-photo-icon-norm: (0px, 107px, 0px, -107px, 17px, 16px, 139px, 123px, '../img/sprite/png-sprite.png', 'sprite__photo_icon_norm', );
$sprite-programm-arrow-name: 'sprite__programm-arrow';
$sprite-programm-arrow-x: 0px;
$sprite-programm-arrow-y: 49px;
$sprite-programm-arrow-offset-x: 0px;
$sprite-programm-arrow-offset-y: -49px;
$sprite-programm-arrow-width: 30px;
$sprite-programm-arrow-height: 57px;
$sprite-programm-arrow-total-width: 139px;
$sprite-programm-arrow-total-height: 123px;
$sprite-programm-arrow-image: '../img/sprite/png-sprite.png';
$sprite-programm-arrow: (0px, 49px, 0px, -49px, 30px, 57px, 139px, 123px, '../img/sprite/png-sprite.png', 'sprite__programm-arrow', );
$sprite-speakers-arrow-name: 'sprite__speakers-arrow';
$sprite-speakers-arrow-x: 98px;
$sprite-speakers-arrow-y: 0px;
$sprite-speakers-arrow-offset-x: -98px;
$sprite-speakers-arrow-offset-y: 0px;
$sprite-speakers-arrow-width: 22px;
$sprite-speakers-arrow-height: 36px;
$sprite-speakers-arrow-total-width: 139px;
$sprite-speakers-arrow-total-height: 123px;
$sprite-speakers-arrow-image: '../img/sprite/png-sprite.png';
$sprite-speakers-arrow: (98px, 0px, -98px, 0px, 22px, 36px, 139px, 123px, '../img/sprite/png-sprite.png', 'sprite__speakers-arrow', );
$sprite-video-icon-hover-name: 'sprite__video_icon_hover';
$sprite-video-icon-hover-x: 51px;
$sprite-video-icon-hover-y: 73px;
$sprite-video-icon-hover-offset-x: -51px;
$sprite-video-icon-hover-offset-y: -73px;
$sprite-video-icon-hover-width: 20px;
$sprite-video-icon-hover-height: 17px;
$sprite-video-icon-hover-total-width: 139px;
$sprite-video-icon-hover-total-height: 123px;
$sprite-video-icon-hover-image: '../img/sprite/png-sprite.png';
$sprite-video-icon-hover: (51px, 73px, -51px, -73px, 20px, 17px, 139px, 123px, '../img/sprite/png-sprite.png', 'sprite__video_icon_hover', );
$sprite-video-icon-norm-name: 'sprite__video_icon_norm';
$sprite-video-icon-norm-x: 72px;
$sprite-video-icon-norm-y: 73px;
$sprite-video-icon-norm-offset-x: -72px;
$sprite-video-icon-norm-offset-y: -73px;
$sprite-video-icon-norm-width: 20px;
$sprite-video-icon-norm-height: 17px;
$sprite-video-icon-norm-total-width: 139px;
$sprite-video-icon-norm-total-height: 123px;
$sprite-video-icon-norm-image: '../img/sprite/png-sprite.png';
$sprite-video-icon-norm: (72px, 73px, -72px, -73px, 20px, 17px, 139px, 123px, '../img/sprite/png-sprite.png', 'sprite__video_icon_norm', );
$sprite-vk-name: 'sprite__vk';
$sprite-vk-x: 0px;
$sprite-vk-y: 0px;
$sprite-vk-offset-x: 0px;
$sprite-vk-offset-y: 0px;
$sprite-vk-width: 48px;
$sprite-vk-height: 48px;
$sprite-vk-total-width: 139px;
$sprite-vk-total-height: 123px;
$sprite-vk-image: '../img/sprite/png-sprite.png';
$sprite-vk: (0px, 0px, 0px, 0px, 48px, 48px, 139px, 123px, '../img/sprite/png-sprite.png', 'sprite__vk', );
$spritesheet-width: 139px;
$spritesheet-height: 123px;
$spritesheet-image: '../img/sprite/png-sprite.png';
$spritesheet-sprites: ($sprite-arrow, $sprite-btn-arrow-active, $sprite-btn-arrow-hover, $sprite-btn-arrow, $sprite-doc-icon-click, $sprite-doc-icon-hover, $sprite-doc-icon-norm, $sprite-euro, $sprite-fb, $sprite-footer-arrow, $sprite-mail, $sprite-map-marker-small, $sprite-phone, $sprite-photo-icon-hover, $sprite-photo-icon-norm, $sprite-programm-arrow, $sprite-speakers-arrow, $sprite-video-icon-hover, $sprite-video-icon-norm, $sprite-vk, );
$spritesheet: (139px, 123px, '../img/sprite/png-sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
