/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sprite-arrow-name: 'sprite__arrow';
$sprite-arrow-x: 0px;
$sprite-arrow-y: 0px;
$sprite-arrow-offset-x: 0px;
$sprite-arrow-offset-y: 0px;
$sprite-arrow-width: 39px;
$sprite-arrow-height: 23px;
$sprite-arrow-total-width: 58px;
$sprite-arrow-total-height: 60px;
$sprite-arrow-image: '../img/sprite/png-sprite.png';
$sprite-arrow: (0px, 0px, 0px, 0px, 39px, 23px, 58px, 60px, '../img/sprite/png-sprite.png', 'sprite__arrow', );
$sprite-speakers-arrow-name: 'sprite__speakers-arrow';
$sprite-speakers-arrow-x: 0px;
$sprite-speakers-arrow-y: 24px;
$sprite-speakers-arrow-offset-x: 0px;
$sprite-speakers-arrow-offset-y: -24px;
$sprite-speakers-arrow-width: 22px;
$sprite-speakers-arrow-height: 36px;
$sprite-speakers-arrow-total-width: 58px;
$sprite-speakers-arrow-total-height: 60px;
$sprite-speakers-arrow-image: '../img/sprite/png-sprite.png';
$sprite-speakers-arrow: (0px, 24px, 0px, -24px, 22px, 36px, 58px, 60px, '../img/sprite/png-sprite.png', 'sprite__speakers-arrow', );
$sprite-speakers-btn-arrow-active-name: 'sprite__speakers-btn-arrow--active';
$sprite-speakers-btn-arrow-active-x: 40px;
$sprite-speakers-btn-arrow-active-y: 0px;
$sprite-speakers-btn-arrow-active-offset-x: -40px;
$sprite-speakers-btn-arrow-active-offset-y: 0px;
$sprite-speakers-btn-arrow-active-width: 18px;
$sprite-speakers-btn-arrow-active-height: 18px;
$sprite-speakers-btn-arrow-active-total-width: 58px;
$sprite-speakers-btn-arrow-active-total-height: 60px;
$sprite-speakers-btn-arrow-active-image: '../img/sprite/png-sprite.png';
$sprite-speakers-btn-arrow-active: (40px, 0px, -40px, 0px, 18px, 18px, 58px, 60px, '../img/sprite/png-sprite.png', 'sprite__speakers-btn-arrow--active', );
$sprite-speakers-btn-arrow-hover-name: 'sprite__speakers-btn-arrow--hover';
$sprite-speakers-btn-arrow-hover-x: 40px;
$sprite-speakers-btn-arrow-hover-y: 19px;
$sprite-speakers-btn-arrow-hover-offset-x: -40px;
$sprite-speakers-btn-arrow-hover-offset-y: -19px;
$sprite-speakers-btn-arrow-hover-width: 18px;
$sprite-speakers-btn-arrow-hover-height: 18px;
$sprite-speakers-btn-arrow-hover-total-width: 58px;
$sprite-speakers-btn-arrow-hover-total-height: 60px;
$sprite-speakers-btn-arrow-hover-image: '../img/sprite/png-sprite.png';
$sprite-speakers-btn-arrow-hover: (40px, 19px, -40px, -19px, 18px, 18px, 58px, 60px, '../img/sprite/png-sprite.png', 'sprite__speakers-btn-arrow--hover', );
$sprite-speakers-btn-arrow-name: 'sprite__speakers-btn-arrow';
$sprite-speakers-btn-arrow-x: 40px;
$sprite-speakers-btn-arrow-y: 38px;
$sprite-speakers-btn-arrow-offset-x: -40px;
$sprite-speakers-btn-arrow-offset-y: -38px;
$sprite-speakers-btn-arrow-width: 18px;
$sprite-speakers-btn-arrow-height: 18px;
$sprite-speakers-btn-arrow-total-width: 58px;
$sprite-speakers-btn-arrow-total-height: 60px;
$sprite-speakers-btn-arrow-image: '../img/sprite/png-sprite.png';
$sprite-speakers-btn-arrow: (40px, 38px, -40px, -38px, 18px, 18px, 58px, 60px, '../img/sprite/png-sprite.png', 'sprite__speakers-btn-arrow', );
$spritesheet-width: 58px;
$spritesheet-height: 60px;
$spritesheet-image: '../img/sprite/png-sprite.png';
$spritesheet-sprites: ($sprite-arrow, $sprite-speakers-arrow, $sprite-speakers-btn-arrow-active, $sprite-speakers-btn-arrow-hover, $sprite-speakers-btn-arrow, );
$spritesheet: (58px, 60px, '../img/sprite/png-sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
