// TYPOGRAPHY

// FONTS
//@include font-face('Ek-Mukta-Light', ek-mukta, light, ekmukta-light-webfont);
//@include font-face('Ek-Mukta-Bold', ek-mukta, bold, ekmukta-bold-webfont);
//@include font-face('Ek-Mukta-Medium', ek-mukta, medium, ekmukta-medium-webfont);
//@include font-face('Ek-Mukta-Light', ek-mukta, light, EkMukta-Light);
//@include font-face('Ek-Mukta-Bold', ek-mukta, bold, EkMukta-Bold);
//@include font-face('Ek-Mukta-Medium', ek-mukta, medium, EkMukta-Medium);

html {
  //font-size: $base-font-size;
  //line-height: $base-line-height;
}

body {
  //@include font-family('Roboto-Regular',normal,normal,sans-serif);
}

.h2-title{
  //@include font-family('Ek-Mukta-Bold',bold);
  font-family: 'Ek Mukta', sans-serif;
  font-weight: 700;
  margin: 0;
  display: inline-block;
  font-size: 19px;
  line-height: 19px;
  color: $color-h2-title;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  &:after{
    content: '';
    display: block;
    background-color: $color-h2-title-border;
    height: 2px;
    width: 70px;
    margin: 25px auto;
  }
  &--white{  color: $color-white;}
  &--wo-line:after{  display: none;}
}

.h3-title{
  //@include font-family('Ek-Mukta-Bold',bold);
  font-family: 'Ek Mukta', sans-serif;
  font-weight: 700;
  margin: 0;
  margin-bottom: 35px;
  display: inline-block;
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  text-transform: uppercase;
  &--blue{
    color: $color-main-light;
  }
}
