// TYPOGRAPHY

// FONTS
//@include font-face('Ek-Mukta-Light', ek-mukta, light, ekmukta-light-webfont);
//@include font-face('Ek-Mukta-Bold', ek-mukta, bold, ekmukta-bold-webfont);
//@include font-face('Ek-Mukta-Medium', ek-mukta, medium, ekmukta-medium-webfont);
//@include font-face('Ek-Mukta-Light', ek-mukta, light, EkMukta-Light);
//@include font-face('Ek-Mukta-Bold', ek-mukta, bold, EkMukta-Bold);
//@include font-face('Ek-Mukta-Medium', ek-mukta, medium, EkMukta-Medium);

html {
  font-size: $base-font-size;
  line-height: $base-line-height;
}

body {
  //@include font-family('Roboto-Regular',normal,normal,sans-serif);
}

.h2-title{
  @include font-family('Ek-Mukta-Bold',bold);
  margin: 0;
  display: inline-block;
  font-size: 19px;
  line-height: 36px;
  color: $color-h2-title;
  border-bottom: 2px solid $color-h2-title-border;
}