/**
* Typography
**/

$base-font-size: 12px;
$base-line-height: 0;

/**
* Colors
**/

$base-font-color: #000;

$color-main-light: #006699;
$color-main-dark: #003366;
$color-speakers-bg: #99ccff;

$color-text: #006699;
$color-dark-text: #003366;
$color-bg: #003366;
$color-h2-title: #003366;
$color-h2-title-border: #ff9900;
$color-menu-text: #fff;
$color-menu-text--hover: #006699;
$color-menu-text--active: #006699;
$color-btn-with-bg-text: #fff;

/**
* Media Queries Breakpoints
**/

$mq-breakpoints: (
        mobile:  320px,
        tablet:  740px,
        desktop: 980px,
        wide:    1300px
);

// AstraMedia Group outdate browsers modal
$amg-color-wrapper-bgc: #808080;
$amg-color-modal-bgc: #fff;

$amg-color-title: #404041;
$amg-color-title-more: #e62d2a;

$amg-color-cross: #e62d2a;
$amg-color-cross--hover: #000;

$amg-color-browser-name: #373839;
$amg-color-browser--hover-shadow: #cfcfcf;

$amg-color-btn-thx: #e62d2a;
$amg-color-btn-thx--hover: #414041;
