.container{
  width: 100%;
  max-width: 1200px;
  min-width: 320px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  box-sizing: border-box;
  min-width: 320px;
  &--column{
    flex-direction: column;
    align-items: center;
    align-content: center;
  }
  &--hor-center{
    align-items: center;
    align-content: center;
    justify-content: center;
  }

  @include mq($from: mobile, $until: wide) {
    width: 100%;
    padding: 0 10px;
  }
}

.triangle-arrow{
  padding-top: 50px;
  padding-bottom: 30px;
  width: 100%;
  background-color: $color-main-dark;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-bottom: 105px;
  z-index: 10;
  &--mb0{
    margin-bottom: 0;
  }
  &:after{
    content: '';
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 65px solid $color-main-dark;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  &__text{
    color: $color-white;
    font-size: 16px;
    text-align: center;
    line-height: 36px;
    font-family: 'Ek Mukta', sans-serif;
    font-weight: 700;
    margin: 0;
  }
}

.map{
  height: 500px;
  width: 100%;
}
