.header{
  @include box-shadow(0,9px,6px,rgba(0,0,0,.04),inset);

  &__top{
    box-sizing: border-box;
    justify-content: space-between;
    @include mq($from: mobile, $until: tablet) {
      padding: 0 10px;
    }
  }
  &__logo{
    width: 336px;
    height: 152px;
    position: relative;
    left: -53px;
    @include mq($from: mobile, $until: wide) {
      left: 0;
    }
  }
  &__logo-img{
    width: 336px;
    height: 152px;
    object-fit: contain;
    @include mq($from: mobile, $until: tablet) {
      width: 100%;
    }
  }
  &__text{
    text-align: right;
    padding-top: 28px;
  }
  &__date{
    //@include font-family('Ek-Mukta-Medium');
    font-family: 'Ek Mukta', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 15px;
    color: $color-text;
  }
  &__title{
    //@include font-family('Ek-Mukta-Medium');
    font-family: 'Ek Mukta', sans-serif;
    font-weight: 500;
    font-size: 50px;
    line-height: 50px;
    color: $color-dark-text;
    margin-top: 0;
    margin-bottom: 10px;
  }
  &__slogan{
    //@include font-family('Ek-Mukta-Medium');
    font-family: 'Ek Mukta', sans-serif;
    font-weight: 500;
    font-size: 25px;
    line-height: 25px;
    color: $color-text;
    margin: 0;
  }
}

.top-menu{
  @include box-shadow(0,9px,6px,rgba(0,0,0,.04),inset);
  background-color: $color-bg;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 25px;

  &__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 15px;
  }
  &__block{
    @include mq($from: mobile, $until: tablet) {
      width: 100%;
      text-align: center;
    }
  }
  &__list{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  &__item{
    display: inline-block;
  }
  &__link{
    //@include font-family('Ek-Mukta-Bold');
    @include transition();
    font-family: 'Ek Mukta', sans-serif;
    font-size: 15px;
    line-height: 40px;
    color: $color-menu-text;
    text-transform: uppercase;
    display: block;
    font-weight: 700;
    text-decoration: none;
    &:hover{  color: $color-menu-text--hover;}
    &:active{  color: $color-menu-text--hover;}
    @include mq($from: mobile, $until: tablet) {
      font-size: 0;
      line-height: 0;
    }
    &--mobile-open{
      font-size: 15px;
      line-height: 40px;
    }
  }
  &__toggler{
    @include mq($from: mobile, $until: tablet) {
      display: flex;
    }
    display: none;
    align-items: center;
    width: 3em;
    height: 3em;
    line-height: 3em;
    user-select: none;

    span{
      display: inline-block;
      vertical-align: bottom;
      width: 100%;
      height: .3rem;
      background: #fff;
      border-radius: .2rem;
      position: relative;
      transition: background .3s .5s;
      &:before,
      &:after {
        width: 100%;
        height: .3rem;
        background: #fff;
        border-radius: .2rem;
        position: absolute;
        left: 0;
        content: '';
        transform-origin: 50% 50%;
        transition: top .3s .6s, transform .3s;
      }
      &:before {
        top: 1rem;
      }

      &:after {
        top: -1rem;
      }
    }
    &--close{
      > span {
        transition: background .3s 0;
        background: transparent;

        &:before,
        &:after {
          transition: top .3s, transform .3s .5s;
          top: 0;
        }

        &:before {
          transform: rotate3d(0, 0, 1, 45deg);
        }

        &:after {
          transform: rotate3d(0, 0, 1, -45deg);
        }
      }
    }
  }
}