.top-slider{
  width: 100%;
  position: relative;
  text-align: center;
  &__slide{
    height: 715px;
    width: 100vw;
    object-fit: cover;
    @include mq($from: mobile, $until: tablet) {
      height: auto;
    }
  }
  &__btn{
    //@include font-family('Ek-Mukta-Bold');
    font-family: 'Ek Mukta', sans-serif;
    display: inline-block;
    box-sizing: border-box;
    margin: 0 auto;
    width: 370px;
    height: 80px;
    text-align: center;
    text-transform: uppercase;
    color: $color-btn-with-bg-text;
    border-radius: 35px;
    border: 1px solid $color-btn-with-bg-text;
    text-decoration: none;
    line-height: 80px;
    background: linear-gradient(to bottom, #ff9900, #ff6600);
    font-weight: 700;
    font-size: 24px;
    position: absolute;
    bottom: 210px;
    left: 0;
    right: 0;
    @include mq($from: mobile, $until: tablet) {
      width: 90%;
    }
    &:hover{  background: linear-gradient(to bottom, #993300, #cc6600);  }
    &:active{
      border: 2px solid $color-btn-with-bg-text;
      line-height: 78px;
    }
  }
  &__btn-down{
    display: block;
    margin: 0 auto;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -60px;
    &:before{
      @include sprite($sprite-arrow);
      content: '';
      display: inline-block;
      position: absolute;
      margin: 0 auto;
      left: 0;
      right: 0;
      top: 28px;
    }
  }
  .slick-dots{
    padding: 0;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 160px;
    text-align: center;

    li {
      @include transition();
      display: inline-block;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: #fff;
      opacity: .3;
      margin: 0 5px;
      cursor: pointer;
      &:hover{  opacity: 1;}
      &.slick-active{  opacity: 1;}
    }
    button{  display: none;}
  }
}
