.practical-info-map{
  width: 100%;
  height: auto;
  object-fit: contain;
  margin-bottom: 40px;
}

.practical-info-text{
  font-family:"Ek Mukta", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 30px;
  color: $color-main-light;
  margin-bottom: 40px;
}