.speakers{
  background-color: $color-speakers-bg;
  padding-top: 60px;
  padding-bottom: 60px;
  &__slider{
    //width: calc(100% - 60px);
    width: 100%;
    margin: 0 auto;
    position: relative;
  }

  .slick-arrow{
    @include sprite($sprite-speakers-arrow);
    position: absolute;
    top: calc(35% - 18px);
    background-color: transparent;
    border: none;
    outline: none;
    width: 22px;
    height: 36px;
    cursor: pointer;
    display: inline-block;
    padding: 0;
    z-index: 10;
  }

  .slick-prev{
    left: 0;
  }
  .slick-next{
    right: 0;
    transform: rotate(180deg);
  }

}

.speaker{
  text-align: center;
  //width: 275px;
  outline: none;
  //width: 400px !important;

  &__photo{
    width: 275px;
    height: 275px;
    border-radius: 50%;
    background-color: #fff;
    object-fit: contain;
    margin-bottom: 20px;
    display: inline-block !important;
    @include mq($from: mobile, $until: tablet) {
      width: 50%;
      height: auto;
    }
  }
  &__name{
    font-family: 'Ek Mukta', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: $color-main-light;
    margin: 0;
    margin-bottom: 20px;
  }
  &__seminar{
    font-family: 'Ek Mukta', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: $color-main-light;
    margin: 0;
    margin-bottom: 25px;
  }
  &__btn{
    @include transition();
    font-family: 'Ek Mukta', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    outline: none;
    &:after{
      content: '';
      display: inline-block;
      @include sprite($sprite-speakers-btn-arrow);
      width: 18px;
      height: 18px;
      margin-left: 20px;
      vertical-align: middle;
    }
    &:hover:after{  @include sprite($sprite-speakers-btn-arrow-hover);  }
    &:active:after{  @include sprite($sprite-speakers-btn-arrow-active);  }
  }
}


.speaker-block{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 90px;

  &__left{
    width: 33%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 10px;
    @include mq($from: mobile, $until: tablet) {
      width: 100%;
    }
  }
  &__right{
    width: 50%;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    @include mq($from: mobile, $until: tablet) {
      width: 100%;
    }
  }
  &__photo{
    width: 275px;
    height: 275px;
    object-fit: contain;
    max-width: 100%;
    border-radius: 50%;
  }
  &__name{
    width: 100%;
    font-size: 16px;
    font-family: 'Ek Mukta', sans-serif;
    font-weight: 500;
    color: $color-main-light;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 16px;
  }
  &__text{
    width: 100%;
    margin-top: 30px;
    font-family: 'Ek Mukta', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: $color-main-dark;
  }
  &__icons{
    width: 100%;
    margin-top: 20px;
  }
  &__icon{
    display: inline-block;

    background-repeat: no-repeat;
    cursor: pointer;
    margin:0 7px;

    &--doc{
      @include sprite($sprite-doc-icon-norm);
      width: 19px;
      height: 21px;
      &:hover{@include sprite($sprite-doc-icon-hover);}
      &:active{@include sprite($sprite-doc-icon-click);}
    }
    &--camera{
      @include sprite($sprite-video-icon-norm);
      width: 25px;
      height: 21px;
      //&:hover{@include sprite($sprite-video-icon-hover);}
      //&:active{@include sprite($sprite-video-icon-click);}
    }
  }
}