.venue-img{
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: contain;
  margin-bottom: 40px;
  &--options{
    float: left;
    width: 45%;
    margin-right: 30px;
    max-width: 100%;
    @include mq($from: mobile, $until: tablet) {
      width: 100%;
      margin: 10px 0;
    }
  }
}