doctype
html.no-js(lang='en', prefix='og: http://ogp.me/ns#')

    include includes/_head

    body

        include includes/_header

        // Main
        main

            .container.container--column
                h2.h2-title.margin-top About

            .container
                p.about-text.
                    The primary goal of the NetGloW in St. Petersburg conference series is to bring together networks researchers from around the globe, to unite the efforts of various scientific disciplines in response to the key challenges faced by network studies today, and to exchange local research results – thus enabling analysis of global social processes as well as theoretical and methodological advancements.
                p.about-text.
                    The first NetGloW conference, subtitled “Structural Transformations in Europe, the US and Russia” brought together researchers, political practitioners and business representatives from all around the world responding to the challenges of societal transformations catalyzed by the growing importance of networks in the present-day world. The 2014 event discussed the key current issues and problems of linking theoretical and methodological developments in network analysis. Which methods in network analysis should be used to test certain theoretical ideas; how should specific metrics be interpreted with regard to theoretical constructs developed in the field; which data should be considered when dealing with particular theoretical concepts? – These were the questions the NetGloW’14 conference set out to answer.
                p.about-text.
                    The 2016 NetGloW conference will discuss relations between diverse networks. At the conceptual level it offers a discussion on relations between networks of different kinds – like inter-personal networks, semantic networks, organizational networks, material objects networks. One can pose questions about how those networks influence each other within and across different spheres, and how these processes unfold in time. At a methodological level the approaches, tools and techniques of analysis of relations between networks are to be considered. Those may include both qualitative and quantitative, both static and dynamic ones, both comparing networks separately or as part of multimodal combinations. At the level of applications the conference is to discuss how network structures and their dynamics can be compared across cultures, societies, states, economies, and cities, - with a primary focus on European societies. The participants will be invited to discuss if and how diverse structures can co-exist and co-evolve.


            .container.container--column
                h2.h2-title.margin-top Programme committee

            .container
                p.about-text.
                    Dr. Nikita Basov, Scientific Manager of the Centre for German and European Studies (St. Petersburg State University - University of Bielefeld) <br/>
                    Prof. Ronald Breiger, School of Sociology, University of Arizona, USA <br/>
                    Dr. Dimitris Christopoulos, Assistant Professor, MODUL University Vienna <br/>
                    Dr. Iina Hellsten, Department of Organization Sciences, VU University Amsterdam, the Netherlands <br/>
                    Dr. Anisya Khokhlova, Associate professor at the Department of Sociology, St. Petersburg State University, director of MA program “Studies in European Societies” (St. Petersburg State University, Russia – Bielefeld University, Germany) <br/>
                    Prof. John Mohr, Department of Sociology, University of California-Santa Barbara, University of California-Santa Barbara. <br/>
                    Dr. Aleksandra Nenko, Project Coordinator at the Centre for German and European Studies (St. Petersburg State University - University of Bielefeld) <br/>
                    Dr. Peng Wang, the Centre for Transformative Innovation (CTI), Swinburne University of Technology, Melbourne, Victoria, Australia.


            include includes/logos

        include includes/_footer

        //include includes/_outdate-browers
