doctype
html.no-js(lang='en', prefix='og: http://ogp.me/ns#')

    include includes/_head

    body

        include includes/_header

        // Main
        main

            include includes/index-slider-top

            include includes/lead-block

            include includes/speakers

            include includes/programm

            include includes/submit

            include includes/logos

            include includes/venue

        include includes/_footer

        //include includes/_outdate-browers
