doctype
html.no-js(lang='en', prefix='og: http://ogp.me/ns#')

    include includes/_head

    body

        include includes/_header

        // Main
        main

            .container.container--column
                h2.h2-title.margin-top Photo & Video

            .container
                article.video
                    //Main gallery
                    .gallery-main.gallery-video-main
                        .slide
                            .slide-img
                                img(data-original="img/video01.jpg" alt="video01").lazyload
                                a.slide-play(href="#")
                            a.slide-link(href="#") NetGloW-2014 Conference Report ENG
                        .slide
                            .slide-img
                                img(data-original="img/video02.jpg" alt="video02").lazyload
                                a.slide-play(href="#")
                            a.slide-link(href="#") NetGloW-2015 Conference Report ENG
                        .slide
                            .slide-img
                                img(data-original="img/video03.jpg" alt="video03").lazyload
                                a.slide-play(href="#")
                            a.slide-link(href="#") NetGloW-2016 Conference Report ENG
                        .slide
                            .slide-img
                                img(data-original="img/video04.jpg" alt="video04").lazyload
                                a.slide-play(href="#")
                            a.slide-link(href="#") NetGloW-2017 Conference Report ENG
                        .slide
                            .slide-img
                                img(data-original="img/video05.jpg" alt="video05").lazyload
                                a.slide-play(href="#")
                            a.slide-link(href="#") NetGloW-2018 Conference Report ENG
                        .slide
                            .slide-img
                                img(data-original="img/video06.jpg" alt="video06").lazyload
                                a.slide-play(href="#")
                            a.slide-link(href="#") NetGloW-2019 Conference Report ENG
                    //Thumbs gallery
                    .gallery-thumbs.gallery-video-thumbs
                        .slide.slide-thumb
                            img(data-original="img/video01.jpg" alt="video01").lazyload
                        .slide.slide-thumb
                            img(data-original="img/video02.jpg" alt="video02").lazyload
                        .slide.slide-thumb
                            img(data-original="img/video03.jpg" alt="video03").lazyload
                        .slide.slide-thumb
                            img(data-original="img/video04.jpg" alt="video04").lazyload
                        .slide.slide-thumb
                            img(data-original="img/video05.jpg" alt="video05").lazyload
                        .slide.slide-thumb
                            img(data-original="img/video06.jpg" alt="video06").lazyload
            .container
                article.photo
                    //Main photo gallery
                    .gallery-main.gallery-photo-main
                        .slide
                            .slide-img
                                img(data-original="img/photo01.jpg" alt="photo01").lazyload
                            a.slide-link(href="#") NetGloW-2014
                        .slide
                            .slide-img
                                img(data-original="img/photo02.jpg" alt="photo02").lazyload
                            a.slide-link(href="#") NetGloW-2015
                        .slide
                            .slide-img
                                img(data-original="img/photo03.jpg" alt="photo03").lazyload
                            a.slide-link(href="#") NetGloW-2016
                        .slide
                            .slide-img
                                img(data-original="img/photo04.jpg" alt="photo04").lazyload
                            a.slide-link(href="#") NetGloW-2017
                        .slide
                            .slide-img
                                img(data-original="img/photo05.jpg" alt="photo05").lazyload
                            a.slide-link(href="#") NetGloW-2018
                        .slide
                            .slide-img
                                img(data-original="img/photo06.jpg" alt="photo06").lazyload
                            a.slide-link(href="#") NetGloW-2019
                    //Thumbs photo gallery
                    .gallery-thumbs.gallery-photo-thumbs
                        .slide.slide-thumb
                            img(data-original="img/photo01.jpg" alt="photo01").lazyload
                        .slide.slide-thumb
                            img(data-original="img/photo02.jpg" alt="photo02").lazyload
                        .slide.slide-thumb
                            img(data-original="img/photo03.jpg" alt="photo03").lazyload
                        .slide.slide-thumb
                            img(data-original="img/photo04.jpg" alt="photo04").lazyload
                        .slide.slide-thumb
                            img(data-original="img/photo05.jpg" alt="photo05").lazyload
                        .slide.slide-thumb
                            img(data-original="img/photo06.jpg" alt="photo06").lazyload

        include includes/_footer

        //include includes/_outdate-browers
