doctype
html.no-js(lang='en', prefix='og: http://ogp.me/ns#')

    include includes/_head

    body

        include includes/_header

        // Main
        main

            .container.container--column
                h2.h2-title.margin-top Practical Information
                //h3.h3-title.h3-title--blue MAP OF THE CONFERENCE AREA

            //img(data-original='img/practical-map.jpg').practical-info-map.lazyload

            .container.container--column
                h3.h3-title.h3-title--blue CONFERENCE VENUE
                p.practical-info-text.
                    School of International Relations <br>
                    Smolny st. 1/3, entrance 8 <br>
                    191060, St.Petersburg, Russia

            .container.container--column
                h3.h3-title.h3-title--blue INTERNET CONNECTION
                p.practical-info-text.
                    The conference venue (The School of International Relations of St. Petersburg State University) is covered by free wireless Internet connection.

                h3.h3-title.h3-title--blue ELECTRICITY
                p.practical-info-text.
                    The electric current in Russia operates at 220 Volts and uses C type plugs, which is a European standard. <br/>

                    Please, make sure that you have the necessary adapters

                h3.h3-title.h3-title--blue PHONE CALLS
                p.practical-info-text.
                    You should verify that your phone company has an international roaming agreement with St. Petersburg network. Local operators include Megaphone GSM, Bee Line GSM, Mobile Telesystems GSM, Sky Link, Tele2. Handsets can be hired from the companies; SIM-cards are very cheap and can be purchased without a contract. Mobile phone shops are widespread around the city. GSM 900/1800 (not GSM 1900), CDMA, AMPS/D-AMPS and NMT-450 standards are supported in St. Petersburg. <br/>
                    Dialing a mobile number from another mobile phone: <br/>
                    +7 – the code (different mobile operators have different codes, that are a part of the mobile number, e.g., 921, 911) – the number itself.<br/>
                    Phone Calls to St. Petersburg: the code for Russia is +7, St. Petersburg city code is 812.

                h3.h3-title.h3-title--blue COPY SHOPS
                p.practical-info-text.
                    Print, scan and copy services are available at:<br/><br/>
                    Printsburg Copy Shop: print, scan, copy etc. <br/>
                    Vosstaniya st.51  st. 27 (2nd floor) Kirochnaya st. 24<br/>
                    Open: Mon-Fri | 8 am–10 pm; Sat, Sun | 9 am–9 pm <br/>
                    Price: 10-15 RUB per A4 print<br/>
                    Telephone: +7 (812)  313-16-90 <br/>
                    Email: v51@printsburg.ru<br/>
                    Website: http://printsburg.ru

        include includes/_footer

        //include includes/_outdate-browers
