doctype
html.no-js(lang='en', prefix='og: http://ogp.me/ns#')

    include includes/_head

    body

        include includes/_header

        // Main
        main

            .container.container--column
                h2.h2-title.margin-top Practical Information
                h3.h3-title.h3-title--blue MAP OF THE CONFERENCE AREA

            img(data-original='img/practical-map.jpg').practical-info-map.lazyload

            .container.container--column
                h3.h3-title.h3-title--blue CONFERENCE VENUE
                p.practical-info-text.
                    School of International Relations <br>
                    Smolny st. 1/3, entrance 8 <br>
                    191060, St.Petersburg, Russia

            .container.container--column
                h3.h3-title.h3-title--blue Heading
                p.practical-info-text.
                    The boutique hotel Nordic welcomed its first guests in 2005. It occupies a standalone two story mansion in the heart of St. Petersburg, just minutes away from Nevsky prospect, Moscow Train Station, and metro stations Ploshad Vosstaniya and Chernyshevskaya. Major city attractions like the Suvorov Museum, Tavrichesky Park, and Smolny Sobor, as well as dozens of restaurants are all near by. The unique location of Nordic on a quiet lesser traveled street, yet in the very center of the city, makes it an ideal place to stay. The boutique hotel Nordic welcomed its first guests in 2005. It occupies a standalone two story mansion in the heart of St. Petersburg, just minutes away from Nevsky prospect, Moscow Train Station, and metro stations Ploshad Vosstaniya and Chernyshevskaya. Major city attractions like the Suvorov Museum, Tavrichesky Park, and Smolny Sobor, as well as dozens of restaurants are all near by. The unique location of Nordic on a quiet lesser traveled street, yet in the very center of the city, makes it an ideal place to stay.

                h3.h3-title.h3-title--blue Heading
                p.practical-info-text.
                        The boutique hotel Nordic welcomed its first guests in 2005. It occupies a standalone two story mansion in the heart of St. Petersburg, just minutes away from Nevsky prospect, Moscow Train Station, and metro stations Ploshad Vosstaniya and Chernyshevskaya. Major city attractions like the Suvorov Museum, Tavrichesky Park, and Smolny Sobor, as well as dozens of restaurants are all near by. The unique location of Nordic on a quiet lesser traveled street, yet in the very center of the city, makes it an ideal place to stay. The boutique hotel Nordic welcomed its first guests in 2005. It occupies a standalone two story mansion in the heart of St. Petersburg, just minutes away from Nevsky prospect, Moscow Train Station, and metro stations Ploshad Vosstaniya and Chernyshevskaya. Major city attractions like the Suvorov Museum, Tavrichesky Park, and Smolny Sobor, as well as dozens of restaurants are all near by. The unique location of Nordic on a quiet lesser traveled street, yet in the very center of the city, makes it an ideal place to stay.

                h3.h3-title.h3-title--blue Heading
                p.practical-info-text.
                            The boutique hotel Nordic welcomed its first guests in 2005. It occupies a standalone two story mansion in the heart of St. Petersburg, just minutes away from Nevsky prospect, Moscow Train Station, and metro stations Ploshad Vosstaniya and Chernyshevskaya. Major city attractions like the Suvorov Museum, Tavrichesky Park, and Smolny Sobor, as well as dozens of restaurants are all near by. The unique location of Nordic on a quiet lesser traveled street, yet in the very center of the city, makes it an ideal place to stay. The boutique hotel Nordic welcomed its first guests in 2005. It occupies a standalone two story mansion in the heart of St. Petersburg, just minutes away from Nevsky prospect, Moscow Train Station, and metro stations Ploshad Vosstaniya and Chernyshevskaya. Major city attractions like the Suvorov Museum, Tavrichesky Park, and Smolny Sobor, as well as dozens of restaurants are all near by. The unique location of Nordic on a quiet lesser traveled street, yet in the very center of the city, makes it an ideal place to stay.



        include includes/_footer

        //include includes/_outdate-browers
