doctype
html.no-js(lang='en', prefix='og: http://ogp.me/ns#')

    include includes/_head

    body

        include includes/_header

        // Main
        main

            .container.container--column
                h2.h2-title.margin-top Programme

            include includes/programm-slider

            .container
                a(href="programm-full.html").full-programm Full programme


            .container.container--column
                h3.h3-title.h3-title--blue.margin-top Sessions

            .container
                table.programm-table
                    tr.programm-table__head
                        td.programm-table__date.
                            <a href="submission.html" target="_blank">Submit abstract</a>
                        td.programm-table__addr Network analysis of cultural and social duality
                    tr.programm-table__body
                        td.programm-table__speaker.
                            Invited speaker and chair:<br/>
                            Ronald Breiger
                        td.programm-table__data
                          span.programm-table__name Network analysis of cultural and social duality
                          p.visible.
                              In recent decades, the duality of culture and social structure as mutually constitutive has been in the focus of social science with a corresponding interest in symbols, meanings, texts, cultural frames, and cognitive schemas when studying social processes (Bourdieu 1984; Friedland and Alford 1991; Mohr 1998; Aleksander 2003). One stream of research applied network perspective to the level of institutions and/or fields, examining power control of social phenomena that involves cultural structures and social structures as conditioning symbolic ones (DiMaggio 1986; Mohr 1994; 2009). It has also been argued that the relations between the cultural and the social reveal themselves at the level of social (inter)action and practice, as individuals tend to switch between cultural classifications and social relations (White 1992), play on the gaps and contradictions in fields’ logics (Friedland and Alford 1991; Friedland and Roger 2009), and are guided by matters at hand (Bourdieu 1990) and by intersubjective relations (De Nooy 2003; Godart and White 2010). In those processes, meaning – which is then  further integrated into cultural constructs and affects large-scale social structures - continuously emerges bottom-up.
                          p.
                              Methodologically relevant are two-mode perspectives on meaning (Breiger 1974; 2000; Mohr 1994; 2000; Breiger and Mohr 2004) with their links to multimodal and multilevel data, such as in the socio-semantic approach (Roth 2013) and analytical techniques employing formal statistical modeling, including SAOMs and ERGMs. Another possibility is qualitative approaches - addressing the duality of structure and culture as meanings emerging from interaction, such as analysis of relational events (White 1992; Fuhse and Muetzel 2011) and sequences of events analysis (Bearman and Stovel 2000). There are also mixed methods using, for example, Galois lattices (Yeung 2005) or meaning contrasts analysis based on textual data
                          p.
                              The session welcomes papers applying these or other network analysis methods to study the duality of culture and social structures either on the micro or the macro level, particularly welcoming papers addressing relations between the two levels.


                    tr.programm-table__head
                        td.programm-table__date.
                            <a href="submission.html" target="_blank">Submit abstract</a>
                        td.programm-table__addr Words and Networks
                    tr.programm-table__body
                        td.programm-table__speaker.
                            Invited speaker and chair:<br/>
                            Adina Nerghes<br>
                            Invited speaker: <br>
                            Wouter van Atteveldt
                        td.programm-table__data
                            span.programm-table__name Words and Networks
                            p.visible.
                                This session is dedicated to cutting edge research at the nexus of text analysis and network analysis. While text analysis/ natural language processing and network analysis have evolved into mature yet quickly advancing fields, work at their intersection is less prevalent. Bridging this gap matters, since prior research has shown that without considering the content of text data, we are limited in our ability to understand the effects of language use in networks and vice versa. Jointly considering text data and network data enables the analysis of networks along multiple dimensions of human behavior, namely language use and social interactions, which ultimately helps to advance our understanding of the interplay and co-evolution of socio-technical networks and information. This conceptualization has inspired eminent work in areas such as: language change, the diffusion and adoption of information and beliefs online and offline, collective problem solving through information propagation, and relation extraction techniques.
                            p.
                                To enable progress in this area, scholars have developed powerful and scalable methods and tools for analyzing text data authored or shared by network participants, as well as for language-based interactions. However, there is gap between theoretical foundations for these solutions and actual implementations in the form of empirical and computational work. For this session, we are looking for contributions that bridge the gap between theories related to language use, and/ or networks and methods/ tools for utilizing text data for network analysis. We are particularly interested in work that advances theories about the use or production of language or text data and integrates with network analytic methods and technologies.


                        tr.programm-table__head
                            td.programm-table__date.
                                <a href="submission.html" target="_blank">Submit abstract</a>
                            td.programm-table__addr Socio-Material Network Analysis: Relating Individuals and Physical Contexts
                        tr.programm-table__body
                            td.programm-table__speaker.
                                Invited speaker and chair:<br/>
                                Anisya Khokhlova
                            td.programm-table__data
                                span.programm-table__name Socio-Material Network Analysis: Relating Individuals and Physical Contexts
                                p.visible.
                                    Social practices and encounters are always spatially patterned and subject to the powerful influence of the material contexts they are embedded in (Urry 1995). This involves multiple nonlinear effects as materiality both gives opportunities to, and puts constraints on,  human activity. Things and physical spaces can constitute stimulating working environments, provide platforms for debates and cooperations, promote mutual learning of people, and provide cohesion of groups and organizations. At the same time, they can turn into objects of envy and competition and impact the (re)production of material and symbolic barriers between people and groups. Different objects are associated with different meanings, provoke various emotional responses and have different potential to generate motivation, trigger communication, and maintain identity and sociality. Network analysis can be useful to conceptualize how structures of physical contexts and social structures constitute each other. This session welcomes network-theoretical elaborations on the complex, dynamic processes in which human relations shape and are shaped by material contexts
                                p.
                                    In the framework of the session we also propose to consider the methods of tracing cross-level links between individuals and material objects / spaces, as well as within-level relations between material objects and/or spaces themselves. One of the possible issues to discuss is the potential and limitations of sociological ethnography (e.g. qualitative observations and photo-elicitations) and interviews. Another issue is related to how qualitative methods can be effectively combined with quantitative ones, such as sociometric surveys. Finally, we suggest  reflection on how the empirical data collected with mixed methods can be further subjected to formal analysis - jointly approaching material and social dimensions with such network analysis techniques as bipartite and multi-level network analysis, and open  discussion of the methodological challenges in such complex research designs.


            .container.container--column
                h3.h3-title.h3-title--blue.margin-top Seminars

            .container
                table.programm-table
                    tr.programm-table__head
                        td.programm-table__date.
                            <a href="submission.html" target="_blank">Submit abstract</a>
                        td.programm-table__addr Network analysis of cultural and social duality
                    tr.programm-table__body
                        td.programm-table__speaker.
                            Invited speaker and chair:<br/>
                            Ronald Breiger
                        td.programm-table__data
                            span.programm-table__name Network analysis of cultural and social duality
                            p.visible.
                                In recent decades, the duality of culture and social structure as mutually constitutive has been in the focus of social science with a corresponding interest in symbols, meanings, texts, cultural frames, and cognitive schemas when studying social processes (Bourdieu 1984; Friedland and Alford 1991; Mohr 1998; Aleksander 2003). One stream of research applied network perspective to the level of institutions and/or fields, examining power control of social phenomena that involves cultural structures and social structures as conditioning symbolic ones (DiMaggio 1986; Mohr 1994; 2009). It has also been argued that the relations between the cultural and the social reveal themselves at the level of social (inter)action and practice, as individuals tend to switch between cultural classifications and social relations (White 1992), play on the gaps and contradictions in fields’ logics (Friedland and Alford 1991; Friedland and Roger 2009), and are guided by matters at hand (Bourdieu 1990) and by intersubjective relations (De Nooy 2003; Godart and White 2010). In those processes, meaning – which is then  further integrated into cultural constructs and affects large-scale social structures - continuously emerges bottom-up.
                            p.
                                Methodologically relevant are two-mode perspectives on meaning (Breiger 1974; 2000; Mohr 1994; 2000; Breiger and Mohr 2004) with their links to multimodal and multilevel data, such as in the socio-semantic approach (Roth 2013) and analytical techniques employing formal statistical modeling, including SAOMs and ERGMs. Another possibility is qualitative approaches - addressing the duality of structure and culture as meanings emerging from interaction, such as analysis of relational events (White 1992; Fuhse and Muetzel 2011) and sequences of events analysis (Bearman and Stovel 2000). There are also mixed methods using, for example, Galois lattices (Yeung 2005) or meaning contrasts analysis based on textual data
                            p.
                                The session welcomes papers applying these or other network analysis methods to study the duality of culture and social structures either on the micro or the macro level, particularly welcoming papers addressing relations between the two levels.


                    tr.programm-table__head
                        td.programm-table__date.
                            <a href="submission.html" target="_blank">Submit abstract</a>
                        td.programm-table__addr Words and Networks
                    tr.programm-table__body
                        td.programm-table__speaker.
                            Invited speaker and chair:<br/>
                            Adina Nerghes<br>
                            Invited speaker: <br>
                            Wouter van Atteveldt
                        td.programm-table__data
                            span.programm-table__name Words and Networks
                            p.visible.
                                This session is dedicated to cutting edge research at the nexus of text analysis and network analysis. While text analysis/ natural language processing and network analysis have evolved into mature yet quickly advancing fields, work at their intersection is less prevalent. Bridging this gap matters, since prior research has shown that without considering the content of text data, we are limited in our ability to understand the effects of language use in networks and vice versa. Jointly considering text data and network data enables the analysis of networks along multiple dimensions of human behavior, namely language use and social interactions, which ultimately helps to advance our understanding of the interplay and co-evolution of socio-technical networks and information. This conceptualization has inspired eminent work in areas such as: language change, the diffusion and adoption of information and beliefs online and offline, collective problem solving through information propagation, and relation extraction techniques.
                            p.
                                To enable progress in this area, scholars have developed powerful and scalable methods and tools for analyzing text data authored or shared by network participants, as well as for language-based interactions. However, there is gap between theoretical foundations for these solutions and actual implementations in the form of empirical and computational work. For this session, we are looking for contributions that bridge the gap between theories related to language use, and/ or networks and methods/ tools for utilizing text data for network analysis. We are particularly interested in work that advances theories about the use or production of language or text data and integrates with network analytic methods and technologies.


                        tr.programm-table__head
                            td.programm-table__date.
                                <a href="submission.html" target="_blank">Submit abstract</a>
                            td.programm-table__addr Socio-Material Network Analysis: Relating Individuals and Physical Contexts
                        tr.programm-table__body
                            td.programm-table__speaker.
                                Invited speaker and chair:<br/>
                                Anisya Khokhlova
                            td.programm-table__data
                                span.programm-table__name Socio-Material Network Analysis: Relating Individuals and Physical Contexts
                                p.visible.
                                    Social practices and encounters are always spatially patterned and subject to the powerful influence of the material contexts they are embedded in (Urry 1995). This involves multiple nonlinear effects as materiality both gives opportunities to, and puts constraints on,  human activity. Things and physical spaces can constitute stimulating working environments, provide platforms for debates and cooperations, promote mutual learning of people, and provide cohesion of groups and organizations. At the same time, they can turn into objects of envy and competition and impact the (re)production of material and symbolic barriers between people and groups. Different objects are associated with different meanings, provoke various emotional responses and have different potential to generate motivation, trigger communication, and maintain identity and sociality. Network analysis can be useful to conceptualize how structures of physical contexts and social structures constitute each other. This session welcomes network-theoretical elaborations on the complex, dynamic processes in which human relations shape and are shaped by material contexts
                                p.
                                    In the framework of the session we also propose to consider the methods of tracing cross-level links between individuals and material objects / spaces, as well as within-level relations between material objects and/or spaces themselves. One of the possible issues to discuss is the potential and limitations of sociological ethnography (e.g. qualitative observations and photo-elicitations) and interviews. Another issue is related to how qualitative methods can be effectively combined with quantitative ones, such as sociometric surveys. Finally, we suggest  reflection on how the empirical data collected with mixed methods can be further subjected to formal analysis - jointly approaching material and social dimensions with such network analysis techniques as bipartite and multi-level network analysis, and open  discussion of the methodological challenges in such complex research designs.



            .container.container--column
                h3.h3-title.h3-title--blue.margin-top Software workshops

            .container
                table.programm-table.programm-table--last
                    tr.programm-table__head
                        td.programm-table__date.
                            <a href="submission.html" target="_blank">Submit abstract</a>
                        td.programm-table__addr Network analysis of cultural and social duality
                    tr.programm-table__body
                        td.programm-table__speaker.
                            Invited speaker and chair:<br/>
                            Ronald Breiger
                        td.programm-table__data
                            span.programm-table__name Network analysis of cultural and social duality
                            p.visible.
                                In recent decades, the duality of culture and social structure as mutually constitutive has been in the focus of social science with a corresponding interest in symbols, meanings, texts, cultural frames, and cognitive schemas when studying social processes (Bourdieu 1984; Friedland and Alford 1991; Mohr 1998; Aleksander 2003). One stream of research applied network perspective to the level of institutions and/or fields, examining power control of social phenomena that involves cultural structures and social structures as conditioning symbolic ones (DiMaggio 1986; Mohr 1994; 2009). It has also been argued that the relations between the cultural and the social reveal themselves at the level of social (inter)action and practice, as individuals tend to switch between cultural classifications and social relations (White 1992), play on the gaps and contradictions in fields’ logics (Friedland and Alford 1991; Friedland and Roger 2009), and are guided by matters at hand (Bourdieu 1990) and by intersubjective relations (De Nooy 2003; Godart and White 2010). In those processes, meaning – which is then  further integrated into cultural constructs and affects large-scale social structures - continuously emerges bottom-up.
                            p.
                                Methodologically relevant are two-mode perspectives on meaning (Breiger 1974; 2000; Mohr 1994; 2000; Breiger and Mohr 2004) with their links to multimodal and multilevel data, such as in the socio-semantic approach (Roth 2013) and analytical techniques employing formal statistical modeling, including SAOMs and ERGMs. Another possibility is qualitative approaches - addressing the duality of structure and culture as meanings emerging from interaction, such as analysis of relational events (White 1992; Fuhse and Muetzel 2011) and sequences of events analysis (Bearman and Stovel 2000). There are also mixed methods using, for example, Galois lattices (Yeung 2005) or meaning contrasts analysis based on textual data
                            p.
                                The session welcomes papers applying these or other network analysis methods to study the duality of culture and social structures either on the micro or the macro level, particularly welcoming papers addressing relations between the two levels.


                    tr.programm-table__head
                        td.programm-table__date.
                            <a href="submission.html" target="_blank">Submit abstract</a>
                        td.programm-table__addr Words and Networks
                    tr.programm-table__body
                        td.programm-table__speaker.
                            Invited speaker and chair:<br/>
                            Adina Nerghes<br>
                            Invited speaker: <br>
                            Wouter van Atteveldt
                        td.programm-table__data
                            span.programm-table__name Words and Networks
                            p.visible.
                                This session is dedicated to cutting edge research at the nexus of text analysis and network analysis. While text analysis/ natural language processing and network analysis have evolved into mature yet quickly advancing fields, work at their intersection is less prevalent. Bridging this gap matters, since prior research has shown that without considering the content of text data, we are limited in our ability to understand the effects of language use in networks and vice versa. Jointly considering text data and network data enables the analysis of networks along multiple dimensions of human behavior, namely language use and social interactions, which ultimately helps to advance our understanding of the interplay and co-evolution of socio-technical networks and information. This conceptualization has inspired eminent work in areas such as: language change, the diffusion and adoption of information and beliefs online and offline, collective problem solving through information propagation, and relation extraction techniques.
                            p.
                                To enable progress in this area, scholars have developed powerful and scalable methods and tools for analyzing text data authored or shared by network participants, as well as for language-based interactions. However, there is gap between theoretical foundations for these solutions and actual implementations in the form of empirical and computational work. For this session, we are looking for contributions that bridge the gap between theories related to language use, and/ or networks and methods/ tools for utilizing text data for network analysis. We are particularly interested in work that advances theories about the use or production of language or text data and integrates with network analytic methods and technologies.


                        tr.programm-table__head
                            td.programm-table__date.
                                <a href="submission.html" target="_blank">Submit abstract</a>
                            td.programm-table__addr Socio-Material Network Analysis: Relating Individuals and Physical Contexts
                        tr.programm-table__body
                            td.programm-table__speaker.
                                Invited speaker and chair:<br/>
                                Anisya Khokhlova
                            td.programm-table__data
                                span.programm-table__name Socio-Material Network Analysis: Relating Individuals and Physical Contexts
                                p.visible.
                                    Social practices and encounters are always spatially patterned and subject to the powerful influence of the material contexts they are embedded in (Urry 1995). This involves multiple nonlinear effects as materiality both gives opportunities to, and puts constraints on,  human activity. Things and physical spaces can constitute stimulating working environments, provide platforms for debates and cooperations, promote mutual learning of people, and provide cohesion of groups and organizations. At the same time, they can turn into objects of envy and competition and impact the (re)production of material and symbolic barriers between people and groups. Different objects are associated with different meanings, provoke various emotional responses and have different potential to generate motivation, trigger communication, and maintain identity and sociality. Network analysis can be useful to conceptualize how structures of physical contexts and social structures constitute each other. This session welcomes network-theoretical elaborations on the complex, dynamic processes in which human relations shape and are shaped by material contexts
                                p.
                                    In the framework of the session we also propose to consider the methods of tracing cross-level links between individuals and material objects / spaces, as well as within-level relations between material objects and/or spaces themselves. One of the possible issues to discuss is the potential and limitations of sociological ethnography (e.g. qualitative observations and photo-elicitations) and interviews. Another issue is related to how qualitative methods can be effectively combined with quantitative ones, such as sociometric surveys. Finally, we suggest  reflection on how the empirical data collected with mixed methods can be further subjected to formal analysis - jointly approaching material and social dimensions with such network analysis techniques as bipartite and multi-level network analysis, and open  discussion of the methodological challenges in such complex research designs.







    include includes/_footer

        //include includes/_outdate-browers
