include mixins/speaker-page

doctype
html.no-js(lang='en', prefix='og: http://ogp.me/ns#')

    include includes/_head

    body

        include includes/_header

        // Main
        main

            .container.container--column
                h2.h2-title.margin-top Full programme
                .search
                    input(type="search" placeholder="search abstracts")
            .container
                .date
                    span.date__current 01.07.2016
                    .session
                        p.session__title Session
                        h3.session__name "Session name"
                        p.session__date 1 July, 14:00 - 16.00, Room 80, 4th floor

                        .speech
                            h4.speech__speaker Jana Diesner
                            h3.speech__theme Semantic Network Analysis with ConText
                            div.speech__anounce
                                p 1. Words and Networks: Considering the Content of Text Data for Network Analysis Jana Diesner Assistant Professor The iSchool, University of Illinois at Urbana-Champaign Talk at Summer Social Webshop 2012 1 Words and Networks • Problem statement/ • Theory and models motivation: Computational “We cannot reduce Social Integration communication to message Science, transmission” (Corman et al. Network 2002) Analysis “Travelling through the Natural network are fleets of social Language Machine objects” (Danowski 1993) • Goal with my research: Processing Learning Understand the interplay and co-evolution of • Information • Probabilistic a) knowledge/ information and b) structure/ functioning Extraction (IE) Graphical of socio-technical networks. • Socio-Linguistics Models 2Jana Diesner, UIUC, The iSchoolSummer Social Webshop 2012 @ University of Maryland

                        .speech
                            h4.speech__speaker Jana Diesner
                            h3.speech__theme Semantic Network Analysis with ConText
                            div.speech__anounce
                                p 1. Words and Networks: Considering the Content of Text Data for Network Analysis Jana Diesner Assistant Professor The iSchool, University of Illinois at Urbana-Champaign Talk at Summer Social Webshop 2012 1 Words and Networks • Problem statement/ • Theory and models motivation: Computational “We cannot reduce Social Integration communication to message Science, transmission” (Corman et al. Network 2002) Analysis “Travelling through the Natural network are fleets of social Language Machine objects” (Danowski 1993) • Goal with my research: Processing Learning Understand the interplay and co-evolution of • Information • Probabilistic a) knowledge/ information and b) structure/ functioning Extraction (IE) Graphical of socio-technical networks. • Socio-Linguistics Models 2Jana Diesner, UIUC, The iSchoolSummer Social Webshop 2012 @ University of Maryland




                    .session
                        p.session__title Session
                        h3.session__name "Session name"
                        p.session__date 1 July, 14:00 - 16.00, Room 80, 4th floor

                        .speech
                            h4.speech__speaker Jana Diesner
                            h3.speech__theme Semantic Network Analysis with ConText
                            div.speech__anounce
                                p 1. Words and Networks: Considering the Content of Text Data for Network Analysis Jana Diesner Assistant Professor The iSchool, University of Illinois at Urbana-Champaign Talk at Summer Social Webshop 2012 1 Words and Networks • Problem statement/ • Theory and models motivation: Computational “We cannot reduce Social Integration communication to message Science, transmission” (Corman et al. Network 2002) Analysis “Travelling through the Natural network are fleets of social Language Machine objects” (Danowski 1993) • Goal with my research: Processing Learning Understand the interplay and co-evolution of • Information • Probabilistic a) knowledge/ information and b) structure/ functioning Extraction (IE) Graphical of socio-technical networks. • Socio-Linguistics Models 2Jana Diesner, UIUC, The iSchoolSummer Social Webshop 2012 @ University of Maryland

                        .speech
                            h4.speech__speaker Jana Diesner
                            h3.speech__theme Semantic Network Analysis with ConText
                            div.speech__anounce
                                p 1. Words and Networks: Considering the Content of Text Data for Network Analysis Jana Diesner Assistant Professor The iSchool, University of Illinois at Urbana-Champaign Talk at Summer Social Webshop 2012 1 Words and Networks • Problem statement/ • Theory and models motivation: Computational “We cannot reduce Social Integration communication to message Science, transmission” (Corman et al. Network 2002) Analysis “Travelling through the Natural network are fleets of social Language Machine objects” (Danowski 1993) • Goal with my research: Processing Learning Understand the interplay and co-evolution of • Information • Probabilistic a) knowledge/ information and b) structure/ functioning Extraction (IE) Graphical of socio-technical networks. • Socio-Linguistics Models 2Jana Diesner, UIUC, The iSchoolSummer Social Webshop 2012 @ University of Maryland




                .date
                    span.date__current 01.07.2016
                    .session
                        p.session__title Session
                        h3.session__name "Session name"
                        p.session__date 1 July, 14:00 - 16.00, Room 80, 4th floor

                        .speech
                            h4.speech__speaker Jana Diesner
                            h3.speech__theme Semantic Network Analysis with ConText
                            div.speech__anounce
                                p 1. Words and Networks: Considering the Content of Text Data for Network Analysis Jana Diesner Assistant Professor The iSchool, University of Illinois at Urbana-Champaign Talk at Summer Social Webshop 2012 1 Words and Networks • Problem statement/ • Theory and models motivation: Computational “We cannot reduce Social Integration communication to message Science, transmission” (Corman et al. Network 2002) Analysis “Travelling through the Natural network are fleets of social Language Machine objects” (Danowski 1993) • Goal with my research: Processing Learning Understand the interplay and co-evolution of • Information • Probabilistic a) knowledge/ information and b) structure/ functioning Extraction (IE) Graphical of socio-technical networks. • Socio-Linguistics Models 2Jana Diesner, UIUC, The iSchoolSummer Social Webshop 2012 @ University of Maryland

                        .speech
                            h4.speech__speaker Jana Diesner
                            h3.speech__theme Semantic Network Analysis with ConText
                            div.speech__anounce
                                p 1. Words and Networks: Considering the Content of Text Data for Network Analysis Jana Diesner Assistant Professor The iSchool, University of Illinois at Urbana-Champaign Talk at Summer Social Webshop 2012 1 Words and Networks • Problem statement/ • Theory and models motivation: Computational “We cannot reduce Social Integration communication to message Science, transmission” (Corman et al. Network 2002) Analysis “Travelling through the Natural network are fleets of social Language Machine objects” (Danowski 1993) • Goal with my research: Processing Learning Understand the interplay and co-evolution of • Information • Probabilistic a) knowledge/ information and b) structure/ functioning Extraction (IE) Graphical of socio-technical networks. • Socio-Linguistics Models 2Jana Diesner, UIUC, The iSchoolSummer Social Webshop 2012 @ University of Maryland




                    .session
                        p.session__title Session
                        h3.session__name "Session name"
                        p.session__date 1 July, 14:00 - 16.00, Room 80, 4th floor

                        .speech
                            h4.speech__speaker Jana Diesner
                            h3.speech__theme Semantic Network Analysis with ConText
                            div.speech__anounce
                                p 1. Words and Networks: Considering the Content of Text Data for Network Analysis Jana Diesner Assistant Professor The iSchool, University of Illinois at Urbana-Champaign Talk at Summer Social Webshop 2012 1 Words and Networks • Problem statement/ • Theory and models motivation: Computational “We cannot reduce Social Integration communication to message Science, transmission” (Corman et al. Network 2002) Analysis “Travelling through the Natural network are fleets of social Language Machine objects” (Danowski 1993) • Goal with my research: Processing Learning Understand the interplay and co-evolution of • Information • Probabilistic a) knowledge/ information and b) structure/ functioning Extraction (IE) Graphical of socio-technical networks. • Socio-Linguistics Models 2Jana Diesner, UIUC, The iSchoolSummer Social Webshop 2012 @ University of Maryland

                        .speech
                            h4.speech__speaker Jana Diesner
                            h3.speech__theme Semantic Network Analysis with ConText
                            div.speech__anounce
                                p 1. Words and Networks: Considering the Content of Text Data for Network Analysis Jana Diesner Assistant Professor The iSchool, University of Illinois at Urbana-Champaign Talk at Summer Social Webshop 2012 1 Words and Networks • Problem statement/ • Theory and models motivation: Computational “We cannot reduce Social Integration communication to message Science, transmission” (Corman et al. Network 2002) Analysis “Travelling through the Natural network are fleets of social Language Machine objects” (Danowski 1993) • Goal with my research: Processing Learning Understand the interplay and co-evolution of • Information • Probabilistic a) knowledge/ information and b) structure/ functioning Extraction (IE) Graphical of socio-technical networks. • Socio-Linguistics Models 2Jana Diesner, UIUC, The iSchoolSummer Social Webshop 2012 @ University of Maryland




        include includes/_footer

        //include includes/_outdate-browers
