doctype
html.no-js(lang='en', prefix='og: http://ogp.me/ns#')

    include includes/_head

    body

        include includes/_header

        // Main
        main

            .container.container--column
                h2.h2-title.margin-top Registration
                p.registration-text Registration and fee payment deadline: <span>April 29 2016</span>

            .container.container--column
                h2.h2-title.margin-top Fees
                p.registration-text.registration-text--fees
                    |Regular - 50
                    i.euro
                    | *
                p.registration-text.registration-text--fees
                    |Students - 20
                    i.euro
                    | *
                p.registration-text.registration-text--fees
                    |Conference reception - 30
                    i.euro
                    | *
                p.registration-text * For transfers in RUB use the exchange rate on the date of transfer.

            .container.container--column
                h2.h2-title.margin-top Payment details
                p.registration-text.registration-text--payment-details
                    The 2016 NetGloW conference will discuss relations between diverse networks. At the conceptual level it offers a discussion on relations between networks of different types – like inter-personal networks, semantic networks, organizational networks, material objects networks. One can pose questions about how those networks influence each other within and across different spheres, and how these processes unfold in time. At methodological level the approaches, tools and techniques of analysis of relations between networks are to be considered. Those may include both qualitative and quantitative, both static and dynamic ones, both compared separately or as part of multilevel, multiple or other combinations. At the level of applications the conference is to discuss how network structures and their dynamics can be compared across cultures, societies, states, economies, and cities, - with a primary focus on European societies. The participants will be invited to discuss if and how diverse structures can co-exist and co-evolve.

        include includes/_footer

        //include includes/_outdate-browers
