doctype
html.no-js(lang='en', prefix='og: http://ogp.me/ns#')

    include includes/_head

    body

        include includes/_header

        // Main
        main

            .container.container--column
                h2.h2-title.margin-top Registration
                p.registration-text Registration and fee payment deadline: <span>April 29 2016</span>

            .container.container--column
                h2.h2-title.margin-top Fees
                p.registration-text.registration-text--fees
                    |Regular - 50
                    i.euro
                    | *
                p.registration-text.registration-text--fees
                    |Students - 20
                    i.euro
                    | *
                p.registration-text.registration-text--fees
                    |Conference reception - 30
                    i.euro
                    | *
                p.registration-text * For transfers in RUB use the exchange rate on the date of transfer.

            .container.container--column
                h2.h2-title.margin-top Payment details
                p.registration-text.registration-text--payment-details
                    The Information about payment details will be available soon.

        include includes/_footer

        //include includes/_outdate-browers
