include mixins/speaker-page

doctype
html.no-js(lang='en', prefix='og: http://ogp.me/ns#')

    include includes/_head

    body

        include includes/_header

        // Main
        main

            .container.container--column
                h2.h2-title.margin-top Keynotes & Invited talks
                h3.h3-title.h3-title--blue.margin-bottom Keynote speakers

            .container
                article.speaker-block
                    .speaker-block__left
                        img(data-original='img/Michael-Batty.jpg' alt='Michael Batty' title='Michael Batty').speaker-block__photo.lazyload
                        .speaker-block__icons
                            i.speaker-block__icon.speaker-block__icon--doc
                            i.speaker-block__icon.speaker-block__icon--camera
                    .speaker-block__right
                        h3.speaker-block__name Michael Batty
                        //h4.speaker-block__name University of Illinois at Urbana-Champaign, USA
                        p.speaker-block__text.
                            Michael Batty CBE FRS FBA is Bartlett Professor of Planning at University  College London where he is Chair of the Centre for Advanced Spatial Analysis (CASA). He has worked on computer models of cities and their visualisation since the 1970s and has published several books, such as Cities and Complexity (MIT Press, 2005) which won the Alonso Prize of the Regional Science Association in 2011, and most recently The New Science of Cities (MIT Press, 2013). His blogs <a href="www.complexcity.info">www.complexcity.info</a> cover the science underpinning the technology of cities and his posts and lectures on big data and smart cities are at <a href="www.spatialcomplexity.info">www.spatialcomplexity.info</a>. He is the editor of the journal Environment and Planning B. His research group is working on simulating long term structural change and dynamics in cities as well as their visualisation, as well as urban analytics for smart cities. He has various awards for his work; most recently he was the 2013 recipient of the Lauréat Prix International de Géographie Vautrin Lud, and in 2015, he received the Founders Gold Medal of the Royal Geographical Society.

                article.speaker-block
                    .speaker-block__left
                        img(data-original='img/Peter-Bearman.jpg' alt='Peter Bearman' title='Peter Bearman').speaker-block__photo.lazyload
                        .speaker-block__icons
                            i.speaker-block__icon.speaker-block__icon--doc
                            i.speaker-block__icon.speaker-block__icon--camera
                    .speaker-block__right
                        h3.speaker-block__name Peter Bearman
                        //h4.speaker-block__name University of Illinois at Urbana-Champaign, USA
                        p.speaker-block__text.
                            Peter Bearman is the Director of INCITE, the Cole Professor of Social Science, and Co-Director of the Health & Society Scholars Program. He was the founding director of ISERP, serving from the Institute's launch in 2000 until 2008. A specialist in network analysis, he co-designed the <a href="http://www.cpc.unc.edu/projects/addhealth">National Longitudinal Study of Adolescent Health</a>. A recipient of the NIH Director's Pioneer Award in 2007, Bearman investigated the social determinants of the autism epidemic.  He has also conducted research in historical sociology, includingRelations into Rhetorics: Local Elite Social Structure in Norfolk, England, 1540-1640 (Rutgers, 1993). He is the author of Doormen (University of Chicago Press, 2005).  He is currently working on models for event sequences, social action, and strategies for qualitative research design; the neural signatures of social relations; and leading the REALM project on fair labor recruitment. He is a member of the American Academy of Arts and Sciences and the National Academy of Sciences.

                article.speaker-block
                    .speaker-block__left
                        img(data-original='img/Ronald-Breiger.jpg' alt='Ronald Breiger' title='Ronald Breiger').speaker-block__photo.lazyload
                        .speaker-block__icons
                            i.speaker-block__icon.speaker-block__icon--doc
                            i.speaker-block__icon.speaker-block__icon--camera
                    .speaker-block__right
                        h3.speaker-block__name Ronald Breiger
                        //h4.speaker-block__name University of Illinois at Urbana-Champaign, USA
                        p.speaker-block__text.
                            Ronald Breiger (Ph.D. Harvard University, 1975) is Professor of Sociology at the University of Arizona. He has been named a Fellow at the Center for Advanced Study in the Behavioral Sciences, a Fulbright Senior Scholar, and a recipient of the Simmel Award of the International Network for Social Network Analysis, and he was elected Chair of the Section on Mathematical Sociology of the American Sociological Association. With Linton Freeman, he has served as Editor (1998-2006) of the journal Social Networks, and (from 2016) he will serve as Editor for Social and Political Science of the journal Network Science.  Breiger’s interests include social network theory and methods, culture and networks, adversarial networks, and multivariate analysis as a network problem.

                article.speaker-block
                    .speaker-block__left
                        img(data-original='img/Han-Woo-Park.jpg' alt='Han Woo Park' title='Han Woo Park').speaker-block__photo.lazyload
                        .speaker-block__icons
                            i.speaker-block__icon.speaker-block__icon--doc
                            i.speaker-block__icon.speaker-block__icon--camera
                    .speaker-block__right
                        h3.speaker-block__name Han Woo Park
                        //h4.speaker-block__name University of Illinois at Urbana-Champaign, USA
                        p.speaker-block__text.
                            Dr. Han Woo Park is a Full Professor in the Dept. of Media & Communication, Interdisciplinary Programs of East Asian Cultural Studies, and of Digital Convergence Business at YeungNam University, South Korea. His research focuses on the use and role of open (big) data in extending academic, governmental, and business networks in scientific, technical, and innovative activities. He was a pioneer in network science of open big data in the early 2000s (often called Webometrics). He is currently the president of the World Association for Triple Helix and Future Strategy Studies. Since the establishment of open data law in Korea, he has actively participated in the Strategic Committee of Public Data chaired by Prime Minister. He has founded a prestigious conference on big data, government 3.0, and triple network in Asia, called DISC (Daegu Gyeongbuk International Social Network Conference). He also sits on the consulting boards of European Union project on open data (http://www.data4policy.eu) in collaboration with Oxford Internet Institute where he used to be a visiting scholar. He has been invited to give a keynote speech in a number of conferences including the International Conference on e-Democracy and Open Government-Asia 2012 (CeDEM-Asia-2012). Further, he is strongly affiliated with several prestigious journals on open government and big data such as Big Data & Society. Further, he is a principal investigator of OpenData500.com on Korean side (http://www.opendata500.com/kr). Recently, he published the following article: Jung, K., & Park, H.W. (2015). A Semantic (TRIZ) Network Analysis of South Korea's "Open Public Data" Policy. Government Information Quarterly. 32 (3), 353-358.

            .container.container--column
                h3.h3-title.h3-title--blue.margin-bottom Invited speakers

            .container
                article.speaker-block
                    .speaker-block__left
                        img(data-original='img/Wouter-van-Atteveldt.jpg' alt='Han Woo Park' title='Han Woo Park').speaker-block__photo.lazyload
                        .speaker-block__icons
                            i.speaker-block__icon.speaker-block__icon--doc
                            i.speaker-block__icon.speaker-block__icon--camera
                    .speaker-block__right
                        h3.speaker-block__name Wouter van Atteveldt
                        //h4.speaker-block__name VU University Amsterdam
                        p.speaker-block__text.
                            Wouter van Atteveldt wrote his PhD thesis on Semantic Network Analysis in an interdisciplinary program at the departments of Artificial Intelligence and Communication Science at the VU University Amsterdam (the Netherlands). Currently, he is employed as Post-Doc researcher at the same university, where he enhances the AmCAT infrastructure for automatic content analysis and Semantic Network Analysis and studies the relation between media content and democratic viability. He is also the co-founder of LJS Media Research, a company specialized in media research using advanced content analysis techniques.

                article.speaker-block
                    .speaker-block__left
                        img(data-original='img/Julia-Brennecke.jpg' alt='Han Woo Park' title='Han Woo Park').speaker-block__photo.lazyload
                        .speaker-block__icons
                            i.speaker-block__icon.speaker-block__icon--doc
                            i.speaker-block__icon.speaker-block__icon--camera
                    .speaker-block__right
                        h3.speaker-block__name Julia Brennecke
                        //h4.speaker-block__name Swinburne University of Technology in Melbourne
                        p.speaker-block__text.
                            Julia Brennecke is a postdoctoral fellow at the Centre for Transformative Innovation at Swinburne University of Technology in Melbourne, Australia. Her research focuses primarily on organizational networks in the areas of innovation management as well as corporate governance. Specific research interests include the antecedents and consequences of multilevel networks and questions pertaining to knowledge transfer within and between organizations. Her research has appeared in Social Networks, Schmalenbach Business Review, and in different books. She received her doctoral degree from the University of Goettingen, Germany and has spent seven month as a visiting fellow at Sciences Po Paris, France.

                article.speaker-block
                    .speaker-block__left
                        img(data-original='img/Peng-Wang.jpg' alt='Han Woo Park' title='Han Woo Park').speaker-block__photo.lazyload
                        .speaker-block__icons
                            i.speaker-block__icon.speaker-block__icon--doc
                            i.speaker-block__icon.speaker-block__icon--camera
                    .speaker-block__right
                        h3.speaker-block__name Peng Wang
                        //h4.speaker-block__name Swinburne University of Technology in Melbourne
                        p.speaker-block__text.
                            Dr Peng Wang is a network methodologist who specializes in the development of statistical models for social network analysis. With a combination of skills in computer science, mathematics and statistics, and social network theory and analysis, Dr Wang has detailed understanding of the  advantages of exponential random graph models (ERGMs) for social networks, as well as the
                            challenges that need to be overcome. Collaborating with world renowned leaders in the field of
                            social network analysis, Dr Wang personally contributed to the advance of ERGMs in model
                            specifications, methods for simulations and estimations techniques, computational efficiency and model robustness, and model interpretations and empirical implications. Dr Wang developed the PNet software package for the simulation and estimation of ERGMs. The PNet software serves as an essential part of the SNA research team in Melbourne – MelNet, as well as the general SNA community. Dr Peng Wang’s work contribute to the development of ERGMs and PNet into cases of bipartite, multivariate, longitudinal, nodal attribute based and multilevel network models, with methodological developments on model specifications, conditional estimations on snowball sampled network data, models with missing network data, and models for large networks. He has publications in the fields of Management, Social Ecological Systems, Networks among Adolescents, Disease Transmission and Public Health Issues, Research Collaboration Networks, Political Networks and Interlocking Directorates networks.
                            Dr Wang is currently working at the Centre for Transformative Innovation (CTI), Swinburne University of Technology, focuses on the development of a new statistical framework for the co- evolution of network structure and nodal attributes, and the application of such methods.

                article.speaker-block
                    .speaker-block__left
                        img(data-original='img/Adina-Nerghes.jpg' alt='Adina Nerghes' title='Adina Nerghes').speaker-block__photo.lazyload
                        .speaker-block__icons
                            i.speaker-block__icon.speaker-block__icon--doc
                            i.speaker-block__icon.speaker-block__icon--camera
                    .speaker-block__right
                        h3.speaker-block__name Adina Nerghes
                        //h4.speaker-block__name Swinburne University of Technology in Melbourne
                        p.speaker-block__text.
                            Adina Nerghes is a communication scientist with a background in political science (BA), communication, technology and policy (MSc Wageningen University, the Netherlands), and a PhD in Social Sciences from the Vrije Universiteit in Amsterdam.

                            In her master’s studies, Adina conducted an experiment on the effects of code-switching  (e.g., the use of English words in Dutch texts) on attitude change, behavioral intentions, and information processing.  Her interest in language and communication also guided her PhD project, in which she investigated text documents issued by central banks, media, and political actors. Adina’s recently completed PhD project focused on expanding methods of relational meaning analysis, by providing an approach suited for the detection of subtle discursive dynamic shifts in large collections of (temporal) textual data. Topically, her dissertation research focused on the recent financial crisis, specifically the various ways in which the events of the crisis were reflected in social discourses and the ways in which the crisis drove discursive changes and adaptations.

                            Methodologically, Adina’s research employs computer-aided text analysis, methods of extraction of connections between texts and social network structures (e.g., semantic and socio-semantic networks), and dynamic network analysis. Making use of the most recent developments in the field of network data extraction from text, her research integrates text mining and network analysis.

                            With a vested interest in relational analysis methods (social and semantic network analysis), Adina is currently developing research agendas related to societal problems and crises (e.g., the financial crisis, climate change, and the refugee crisis). Her main aim is to develop frameworks capable of investigating the complex, interaction-based, processes of defining societal crises and creating problem-oriented solutions.  These frameworks will incorporate two traditions and theoretical views, namely social network analysis and semantic network analysis. <br/>
                            Personal website: <a href="www.adinanerghes.com">www.adinanerghes.com</a>

        include includes/_footer

        //include includes/_outdate-browers
