include mixins/speaker-page

doctype
html.no-js(lang='en', prefix='og: http://ogp.me/ns#')

    include includes/_head

    body

        include includes/_header

        // Main
        main

            .container.container--column
                h2.h2-title.margin-top Keynotes & Invited talks
                h3.h3-title.h3-title--blue.margin-bottom Keynote speakers

            .container
                article.speaker-block
                    .speaker-block__left
                        img(data-original='img/Michael-Batty.jpg' alt='Michael Batty' title='Michael Batty').speaker-block__photo.lazyload
                        .speaker-block__icons
                            i.speaker-block__icon.speaker-block__icon--doc
                            i.speaker-block__icon.speaker-block__icon--camera
                    .speaker-block__right
                        h3.speaker-block__name Michael Batty
                        //h4.speaker-block__name University of Illinois at Urbana-Champaign, USA
                        p.speaker-block__text.
                            Michael Batty CBE FRS FBA is Bartlett Professor of Planning at University  College London where he is Chair of the Centre for Advanced Spatial Analysis (CASA). He has worked on computer models of cities and their visualisation since the 1970s and has published several books, such as Cities and Complexity (MIT Press, 2005) which won the Alonso Prize of the Regional Science Association in 2011, and most recently The New Science of Cities (MIT Press, 2013). His blogs <a href="www.complexcity.info">www.complexcity.info</a> cover the science underpinning the technology of cities and his posts and lectures on big data and smart cities are at <a href="www.spatialcomplexity.info">www.spatialcomplexity.info</a>. He is the editor of the journal Environment and Planning B. His research group is working on simulating long term structural change and dynamics in cities as well as their visualisation, as well as urban analytics for smart cities. He has various awards for his work; most recently he was the 2013 recipient of the Lauréat Prix International de Géographie Vautrin Lud, and in 2015, he received the Founders Gold Medal of the Royal Geographical Society.

                article.speaker-block
                    .speaker-block__left
                        img(data-original='img/Peter-Bearman.jpg' alt='Peter Bearman' title='Peter Bearman').speaker-block__photo.lazyload
                        .speaker-block__icons
                            i.speaker-block__icon.speaker-block__icon--doc
                            i.speaker-block__icon.speaker-block__icon--camera
                    .speaker-block__right
                        h3.speaker-block__name Peter Bearman
                        //h4.speaker-block__name University of Illinois at Urbana-Champaign, USA
                        p.speaker-block__text.
                            Peter Bearman is the Director of INCITE, the Cole Professor of Social Science, and Co-Director of the Health & Society Scholars Program. He was the founding director of ISERP, serving from the Institute's launch in 2000 until 2008. A specialist in network analysis, he co-designed the <a href="http://www.cpc.unc.edu/projects/addhealth">National Longitudinal Study of Adolescent Health</a>. A recipient of the NIH Director's Pioneer Award in 2007, Bearman investigated the social determinants of the autism epidemic.  He has also conducted research in historical sociology, includingRelations into Rhetorics: Local Elite Social Structure in Norfolk, England, 1540-1640 (Rutgers, 1993). He is the author of Doormen (University of Chicago Press, 2005).  He is currently working on models for event sequences, social action, and strategies for qualitative research design; the neural signatures of social relations; and leading the REALM project on fair labor recruitment. He is a member of the American Academy of Arts and Sciences and the National Academy of Sciences.

                article.speaker-block
                    .speaker-block__left
                        img(data-original='img/Ronald-Breiger.jpg' alt='Ronald Breiger' title='Ronald Breiger').speaker-block__photo.lazyload
                        .speaker-block__icons
                            i.speaker-block__icon.speaker-block__icon--doc
                            i.speaker-block__icon.speaker-block__icon--camera
                    .speaker-block__right
                        h3.speaker-block__name Ronald Breiger
                        //h4.speaker-block__name University of Illinois at Urbana-Champaign, USA
                        p.speaker-block__text.
                            Ronald Breiger (Ph.D. Harvard University, 1975) is Professor of Sociology at the University of Arizona. He has been named a Fellow at the Center for Advanced Study in the Behavioral Sciences, a Fulbright Senior Scholar, and a recipient of the Simmel Award of the International Network for Social Network Analysis, and he was elected Chair of the Section on Mathematical Sociology of the American Sociological Association. With Linton Freeman, he has served as Editor (1998-2006) of the journal Social Networks, and (from 2016) he will serve as Editor for Social and Political Science of the journal Network Science.  Breiger’s interests include social network theory and methods, culture and networks, adversarial networks, and multivariate analysis as a network problem.

                article.speaker-block
                    .speaker-block__left
                        img(data-original='img/Han-Woo-Park.jpg' alt='Han Woo Park' title='Han Woo Park').speaker-block__photo.lazyload
                        .speaker-block__icons
                            i.speaker-block__icon.speaker-block__icon--doc
                            i.speaker-block__icon.speaker-block__icon--camera
                    .speaker-block__right
                        h3.speaker-block__name Han Woo Park
                        //h4.speaker-block__name University of Illinois at Urbana-Champaign, USA
                        p.speaker-block__text.
                            Dr. Han Woo Park is a Full Professor in the Dept. of Media & Communication, Interdisciplinary Programs of East Asian Cultural Studies, and of Digital Convergence Business at YeungNam University, South Korea. His research focuses on the use and role of open (big) data in extending academic, governmental, and business networks in scientific, technical, and innovative activities. He was a pioneer in network science of open big data in the early 2000s (often called Webometrics). He is currently the president of the World Association for Triple Helix and Future Strategy Studies. Since the establishment of open data law in Korea, he has actively participated in the Strategic Committee of Public Data chaired by Prime Minister. He has founded a prestigious conference on big data, government 3.0, and triple network in Asia, called DISC (Daegu Gyeongbuk International Social Network Conference). He also sits on the consulting boards of European Union project on open data (http://www.data4policy.eu) in collaboration with Oxford Internet Institute where he used to be a visiting scholar. He has been invited to give a keynote speech in a number of conferences including the International Conference on e-Democracy and Open Government-Asia 2012 (CeDEM-Asia-2012). Further, he is strongly affiliated with several prestigious journals on open government and big data such as Big Data & Society. Further, he is a principal investigator of OpenData500.com on Korean side (http://www.opendata500.com/kr). Recently, he published the following article: Jung, K., & Park, H.W. (2015). A Semantic (TRIZ) Network Analysis of South Korea's "Open Public Data" Policy. Government Information Quarterly. 32 (3), 353-358.

            .container.container--column
                h3.h3-title.h3-title--blue.margin-bottom Invited speakers

            .container


        include includes/_footer

        //include includes/_outdate-browers
