doctype
html.no-js(lang='en', prefix='og: http://ogp.me/ns#')

    include includes/_head

    body

        include includes/_header

        // Main
        main

            .container.container--column
                h2.h2-title.margin-top venue & Accommodation
                h3.h3-title.h3-title--blue venue
                p.text-center.
                    School of International Relations <br>
                    Smolny st. 1/3, entrance 8 <br>
                    191060, St.Petersburg, Russia <br>

            img(data-original='img/Depositphotos_72965081_l-2015.jpg' alt='venue & Accommodation' title='venue & Accommodation').venue-img.lazyload

            .map#map

            //.container.container--column
            //    h2.h2-title.margin-top Conference Plan
            //img(data-original='img/conference-plan.jpg' alt='Conference Plan' title='Conference Plan').venue-img.lazyload

            .container.container--column
                h3.h3-title.h3-title--blue.margin-top How to get to the School of International relations
                p.
                    The School of International Relations is located in the heart of the historic city centre, in a building belonging to the ensemble of the Smolny Monastery. You should enter the building from the Rastrelli square.

                p.
                    There is a good transport connection to the the School of International Relations:

                ul
                    li from the metro station " Chernyshevskaya ": buses 22, 46, 105, 136; taxi buses 15 , 46, 51, 76, 90, 105K, 136, 163, 167, 269;
                    li from the metro station " Ploshchad Vosstaniya - Mayakovskaya ": buses 22, 54, 74, 105, trolley buses 5, 7, 11;
                    li if you would like to use taxi, we recommend you to install the <a href="http://gett.com/">Gett app</a>


                .container.container--column
                    h3.h3-title.h3-title--blue Accommodation options

                .container.container--block
                    img(data-original='img/booking-2.jpg' alt='Accommodation options' title='Accommodation options').venue-img--options.lazyload
                    p.
                        <strong><a href="http://forteinn.ru/en">Forte Inn Hotel</a></strong>

                    p.
                        Address: 191036, St. Petersburg, Russia, 9-Sovetskaya st., 1<br/>

                        Tel.: +7(812)309-41-01<br/>

                        E-mail: booking@forteinn.ru, manager@forteinn.ru<br/>

                    p.
                        Forte Inn is located in the heart of St. Petersburg, at the intersection of Grechesky pr. and 9 Sovetskaya st. The subway stations Ploschad Vosstaniya and Chernyshevskaya are in ten minutes' walk from the Hotel. Famous Nevsky prospect is within walking distance as well.<br/>
                        Forte Inn is located in the calm yard of an old true to type St. Petersburg houses in a separate building.

                    p.
                        The Hotel offers a choice of 4 standard TWIN/DBL rooms and 3 suites with King size beds and caters for all types of tourists and businessmen. Every room has an ensuite bathroom and provides hotel cosmetics, under floor heating, LCD TV, satellite TV, air conditioning, Wi-Fi connection and comfortable innovative beds with pillow-top mattresses.<br/>
                    p &nbsp


                    img(data-original='img/booking-3.jpg' alt='Accommodation options' title='Accommodation options').venue-img--options.lazyload
                    p.
                        <strong><a href="http://www.hotel-nordic.ru/">Nordic Hotel</a></strong>

                    p.
                        Address: 191015 Saint-Petersburg, Russia, Gospitalnaya Ul, 4<br/>

                        Tel.: +7 (812) 401-6162, +7 (812) 401-6163, +7 (812) 401-6164<br/>

                        E-mail: booking@forteinn.ru, manager@forteinn.ru<br/>

                    p.
                        The boutique hotel Nordic welcomed its first guests in 2005. It occupies a standalone two story mansion in the heart of St. Petersburg, just minutes away from Nevsky prospect, Moscow Train Station, and metro stations Ploshad Vosstaniya and Chernyshevskaya.

                    p.
                        Major city attractions like the Suvorov Museum, Tavrichesky Park, and Smolny Sobor, as well as dozens of restaurants are all near by. The unique location of Nordic on a quiet lesser traveled street, yet in the very center of the city, makes it an ideal place to stay.<br/>
                    p &nbsp


                    img(data-original='img/booking-1.jpg' alt='Accommodation options' title='Accommodation options').venue-img--options.lazyload
                    p.
                        <strong><a href="http://eng.alldreamshotel.ru/">All Dreams Hotel</a></strong>

                    p.
                        Address: Russia, Saint-Petersburg, Central district, Vosstaniya str., 40, Entrance from Ryleeva str., 18<br/>

                        Tel.: +7 911 778-98-58<br/>

                    p.
                        All Dreams Hotel is located in the historical heart of Saint-Petersburg. Chernyshevskaya station is 200 meters distance and Moskovsky railway station is 10 minutes walk from the Hotel. Whether you visit Saint-Petersburg for sightseeing or with business purposes – our Hotel will meet the requirements of any traveller.<br/>
                    p &nbsp

                    img(data-original='img/booking-4.jpg' alt='Accommodation options' title='Accommodation options').venue-img--options.lazyload
                    p.
                        <strong><a href="http://www.booking.com/hotel/ru/rain-hostel.en-gb.html?label=social_sharecenter_copy_url;sid=a21a4c1e593746a1bbb79db367737788;dcid=1;sb_price_type=total;type=total&;lang=en-gb">Rain Hostel </a></strong>

                    p.
                        Address: 191123 Saint Petersburg, Russia, Chaykovskogo, 37<br/>

                        Tel.: +7 911 778-98-58<br/>

                        Email: rainhostelspb@gmail.com

                    p.
                        Rain Hostel offers  convenient accommodation in Saint Petersburg.
                        The rooms come with a shared bathroom. Rain Hostel provides free WiFi. The major historical objects are located in a walking distance.

                    p &nbsp


        include includes/_footer

        //include includes/_outdate-browers
