@charset "UTF-8";

/**
*  Include vendor CSS files
**/

@import "vendor/normalize";
@import "vendor/mq";
@import "vendor/slick";

/**
*  Include custom CSS files
**/

@import "includes/variables";
@import "mixins/font-face";
@import "mixins/helpers";
@import "includes/png-sprite";
@import "includes/svg-sprite";
@import "includes/typography";
//@import "includes/outdate-browsers";
@import "includes/header";
@import "includes/common";
@import "includes/index-top-slider";
@import "includes/lead-block";
@import "includes/speakers";
@import "includes/programm";
@import "includes/submit";
@import "includes/logos";
@import "includes/footer";
@import "includes/about";
@import "includes/contacts";
@import "includes/submission";
@import "includes/keydates";
@import "includes/archive";
@import "includes/registration";
@import "includes/practical-info";
@import "includes/venue";